<ion-view title="Acerca de la App" id="page3" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/6xVo8lUQb6fJDTSbhcvM_riojaciudad.png" style="display: block; width: 53%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 style="text-align: center;">
      <span style="color: #000000;">
        <strong>Versión 1.0 -&nbsp;</strong>
        <strong>2020</strong>
      </span>
    </h4>
    <a ui-sref="guALaRioja.fuentesDeInformaciN()" id="acercaDeLaApp-button440" class="button button-calm button-small button-block">Fuentes de Información</a>
    <div class="spacer" style="height: 30px;"></div>
    <h4 style="text-align: center;">
      <strong>Proyecto en desarrollo</strong>
    </h4>
    <div class="spacer" style="height: 15px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #000000;">
        <strong>¿Encontraste algún error o tenes una sugerencia para mejorar la App? Podés contactarme en mis redes sociales, toda idea suma !</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="acercaDeLaApp-list7">
      <ion-item class="item-divider" id="acercaDeLaApp-list-item-divider1"> Contacto</ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item21" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/3CXDNPUSqqygC1I9IZMw_Wat.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item22" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/YW1EgyP5RGgSwjqB2w1g_Facebook.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item23" href-inappbrowser="https://www.instagram.com/marcos.nieto17/">
        <img src="img/hRqKRDonQkiWqtTonsO8_Instagram.jpg">
        <h2dark>Instagram
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>