<ion-view title="Actualizá tus documentos" id="page63">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar mi DNI de acuerdo con mi identidad de género</span>
      </h4>
      <p>Si hacés uso de tu derecho a identidad de género, sacá un nuevo DNI con tus datos actualizados.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-mi-dni-de-acuerdo-con-mi-identidad-de-genero" id="actualizTusDocumentos-button400" class="button button-calm button-small icon ion-android-open"> Solicitar mi DNI</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Rectificar el pasaporte</span>
      </h4>
      <p>Este trámite te orienta sobre qué tenés que hacer para modificar o rectificar tus datos personales registrados en el pasaporte. Tené en cuenta que las modificaciones se deben asentar primero en la Partida de Nacimiento y en el DNI.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/rectificar-el-pasaporte" id="actualizTusDocumentos-button411" class="button button-calm button-small icon ion-android-open"> Rectificar el pasaporte</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Apostillar un documento</span>
      </h4>
      <p>La Apostilla de La Haya valida documentos públicos emitidos en Argentina para presentarlos en otro país, entre ellos: actas de casamiento, partidas de nacimiento, sentencias judiciales.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/legalizar-o-apostillar-un-documento" id="actualizTusDocumentos-button412" class="button button-calm button-small icon ion-android-open"> Legalizar o apostillar un documento</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>