<ion-view title="Adoptar un niño" id="page39">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Si decidiste ser madre o padre por medio de la adopción, te acompañamos con información sobre los pasos que deben cumplir para lograr ese deseo.</p>
      <p>&nbsp;</p>
      <p>Tengan presente que la adopción se rige por un principio superior de interés que es el niño/a o el adolescente y eso implica:</p>
      <p>► el respeto por su derecho a la identidad,</p>
      <p>► el agotamiento de las posibilidades de permanecer en su familia de origen o ampliada,</p>
      <p>► la preservación de los vínculos con otros hermanos,</p>
      <p>► el derecho a conocer sus orígenes,</p>
      <p>► el derecho a que su opinión sea tenida en cuenta según su edad y su madurez; por eso su consentimiento es obligatorio a partir de los 10 años.</p>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">¿Qué tenés que saber antes de adoptar?</span>
      </h4>
      <h5>Existen tres tipos de adopción:</h5>
      <ul>
        <li>
          <p>
            <strong>simple</strong>&nbsp;(el niño/a o el adolescente mantienen su derecho a comunicarse con su familia de origen, salvo que no quieran hacerlo);</p>
        </li>
        <li>
          <p>
            <strong>plena</strong>&nbsp;(se extinguen sus vínculos jurídicos con la familia de origen);</p>
        </li>
        <li>
          <p>
            <strong>de integración</strong>&nbsp;(se adopta al hijo/a del cónyuge o del conviviente).</p>
        </li>
      </ul>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Para más información consultá la&nbsp;Guía informativa sobre adopción del Ministerio de Justicia y Derechos Humanos.</p>
    <a href-inappbrowser="https://www.argentina.gob.ar/sites/default/files/guia-informativa-adopcion.pdf" id="adoptarUnNiO-button207"
      class="button button-calm button-small icon ion-android-open"> Guía informativa sobre adopción</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <p>Hay que cumplir con ciertos&nbsp;
      <strong>requisitos</strong>, ya que como Estado buscamos la protección de los derechos de los niños/as y adolescentes para que puedan vivir y crecer dentro de una familia que cubra sus necesidades afectivas y materiales.</p>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/quiero-adoptar"
      id="adoptarUnNiO-button280" class="button button-calm button-small icon ion-android-open"> Más info en Quiero adoptar</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué pasos cumplir una vez tomada la decisión?</span>
      </h4>
      <p>
        <strong>1.</strong> Hacer la&nbsp;
        <strong>inscripción</strong>&nbsp;en el Registro Único de Aspirantes a Guarda con Fines Adoptivos. Una vez anotados, comienza el tiempo de espera.</p>
      <p>
        <strong>2.</strong> Si transcurre un año sin ser convocados por el juez, hay que&nbsp;
        <strong>ratificar la inscripción</strong>&nbsp;en el mismo registro donde la hicieron por primera vez. En el caso de CABA, la ratificación se hace luego de dos años.</p>
      <p>
        <strong>3.</strong> Concurrir a la entrevista con el juez cuando los convoque, para que los conozca y les comente sobre la situación actual del niño/a o adolescente.</p>
      <p>
        <strong>4.</strong> En algunos casos, antes de que el juez les otorgue la guarda, puede indicar una etapa previa llamada&nbsp;
        <strong>vinculación</strong>. Allí se encontrarán con el niño/a o adolescente, acompañados por profesionales que los van a acompañar para que el conocimiento entre ustedes sea más fácil y fluido.</p>
      <p>
        <strong>5.</strong> Recibir la&nbsp;
        <strong>guarda del menor</strong>&nbsp;por un plazo no mayor a los 6 meses. En esta etapa ustedes estarán directamente a cargo del niño/a o adolescente, de su cuidado, su crianza, su educación y su salud.</p>
      <p>
        <strong>6.</strong> Cumplida la guarda, el juez dará inicio a la etapa de&nbsp;
        <strong>juicio de adopción</strong>, que al niño/a o adolescente le otorgará seguridad jurídica. En este momento necesitarán contar con la asistencia de un abogado. Si no están en condiciones de afrontar el gasto de honorarios, pueden buscar&nbsp;asesoramiento
        y patrocinio gratuito.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justicia/afianzar/caj/listado" id="adoptarUnNiO-button281" class="button button-calm button-small icon ion-android-open"> Centros de Acceso a la Justicia</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué hacer después de la sentencia judicial de adopción?</span>
      </h4>
      <h5>Inscribir la adopción en la Partida de nacimiento:</h5>
      <p>Lo hacés en el mismo Registro Civil donde al niño/a o adolescente le emitieron la original.</p>
    </div>
    <a href-inappbrowser="https://www.buenosaires.gob.ar/registrocivil/sedes/registros-civiles-en-argentina" id="adoptarUnNiO-button282" class="button button-calm button-small icon ion-android-open"> Registros Civiles en Argentina</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Sacar el DNI para el nuevo hijo</span>
      </h4>
      <p>Lo tramitan ante el Registro Nacional de las Personas y deben concurrir los adoptantes y el niño/a o adolescente. El número del documento anterior del menor no se modifica. Si el adolescente tiene más de 14 años puede hacerlo solo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/sacar-un-nuevo-dni-en-caso-de-adopcion" id="adoptarUnNiO-button283" class="button button-calm button-small icon ion-android-open"> Sacar un nuevo DNI</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar asignación por adopción</span>
      </h4>
      <p>Una vez transcurridos los 2 meses y hasta dentro de los 2 años de la fecha de dictada la sentencia de adopción, pueden tramitar la asignación por adopción ante ANSES.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-asignacion-familiar-por-nacimiento-o-adopcion" id="adoptarUnNiO-button284" class="button button-calm button-small icon ion-android-open"> Solicitar asignación familiar</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>