<ion-view title="Adultos mayores" id="page28">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/AcSPUWTiQnuDREisdvCb_Adultosmayores1.png" style="display: block; width: 56%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="adultosMayores-list100">
      <ion-item class="item-avatar dark" id="adultosMayores-list-item269">
        <img src="img/j8G75PUeQR8huaR12Rgw_Adultos01a.jpg">
        <h2dark>Me quiero jubilar
          <p style="white-space:normal;">Trámites para jubilarse o sacar una pensión</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item270" ui-sref="guALaRioja.iniciarTrMiteDeJubilaciN()">
        <i class="icon ion-arrow-right-b"></i>Iniciar trámite de jubilación</ion-item>
    </ion-list>
    <ion-list id="adultosMayores-list101">
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item271" ui-sref="guALaRioja.sacarUnaPensiN()">
        <i class="icon ion-arrow-right-b"></i>Sacar una pensión</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item256" ui-sref="guALaRioja.categorAsEspecialesDeJubilaciN()">
        <i class="icon ion-arrow-right-b"></i>Categorías especiales de jubilación</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item257" ui-sref="guALaRioja.jubilarteSinTenerLaTotalidadDeAportes()">
        <i class="icon ion-arrow-right-b"></i>Jubilarte sin la totalidad de aportes</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item258" ui-sref="guALaRioja.pensionesEspeciales()">
        <i class="icon ion-arrow-right-b"></i>Pensiones especiales</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="adultosMayores-list102">
      <ion-item class="item-avatar dark" id="adultosMayores-list-item272">
        <img src="img/rioqXZluRXCetbEMza30_Adultos02a.jpg">
        <h2dark>Si sos jubilado o pensionado
          <p style="white-space:normal;">Información útil</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="adultosMayores-list103">
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item273" ui-sref="guALaRioja.tusCobros()">
        <i class="icon ion-arrow-right-b"></i>Tus cobros</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item274" ui-sref="guALaRioja.tusBeneficios()">
        <i class="icon ion-arrow-right-b"></i>Tus beneficios</ion-item>
    </ion-list>
    <ion-list id="adultosMayores-list104">
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item275" ui-sref="guALaRioja.trMitesFrecuentes()">
        <i class="icon ion-arrow-right-b"></i>Trámites frecuentes</ion-item>
    </ion-list>
    <ion-list id="adultosMayores-list105">
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item276" ui-sref="guALaRioja.paraFamiliaresDelTitular()">
        <i class="icon ion-arrow-right-b"></i>Para familiares del titular</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item304" ui-sref="guALaRioja.trMitesRelacionados()">
        <i class="icon ion-arrow-right-b"></i>Trámites relacionados</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="adultosMayores-list106">
      <ion-item class="item-avatar dark" id="adultosMayores-list-item277">
        <img src="img/Xi6uUAEGRzuYFMoAb9Wl_Adultos03a.jpg">
        <h2dark>Cuido mi salud
          <p style="white-space:normal;">Consejos, servicios y trámites de cobertura médica</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item278" ui-sref="guALaRioja.consejosSaludables()">
        <i class="icon ion-arrow-right-b"></i>Consejos saludables</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item279" ui-sref="guALaRioja.serviciosDeSalud()">
        <i class="icon ion-arrow-right-b"></i>Servicios de salud</ion-item>
      <ion-item class="item-icon-left dark" id="adultosMayores-list-item280" ui-sref="guALaRioja.trMites()">
        <i class="icon ion-arrow-right-b"></i>Trámites</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>