<ion-view title="Agenda de Eventos" id="page93">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h3 style="text-align: center;">
        <span style="color: #003366;">FEBRERO CHAYERO 2020</span>
      </h3>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div>
      <p>
        <span style="color: #003366;">
          <strong>31 DE ENERO: </strong>
        </span>
      </p>
      <p>
        <strong>“</strong>
        <strong>Desentierro del Pujllay</strong>
        <strong>”</strong> | Obra teatral</p>
      <p>Actuarán: Ballet Folklórico Municipal “Liliana Albarracín”, Teatro Estable Municipal “Manuel Chiesa”, Talleres Libres Municipales, Chayallerata Riojana.</p>
      <p>Lugar: Explanada de la Vieja Estación.</p>
      <p>Hora: 22:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>01 DE </strong>
          <strong>FEBRERO</strong>
        </span>
      </p>
      <p>
        <strong>Despierta Pujllay</strong>
      </p>
      <p>Intervención: Talleres Libres Municipales</p>
      <p>Lugar: Plaza 25 de Mayo</p>
      <p>Hora: 11:00</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>
        <strong>Marcha de los Vidaleros</strong>
      </p>
      <p>Lugar de Salida: Challay Huasi (Av. José Jesús Oyola y Bazán y Bustos, hacia Av. Rivadavia)</p>
      <p>Llegada: Playón de la Vieja Estación (Av. Rivadavia y Av. Facundo Quiroga)</p>
      <p>Hora: 20:00</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>
        <strong>Festival Febrero Chayero</strong>
      </p>
      <p>Lugar: Playón de la Vieja Estación</p>
      <p>Hora: 21:00</p>
      <p>Actuarán: Artistas Riojanos</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>07 DE FEBRERO</strong>:&nbsp;</span>
      </p>
      <p>
        <strong>Homenaje a Homero Coronel Montes</strong>
      </p>
      <p>Lugar: busto de Avenida Coronel Montes y Ortiz de Ocampo.</p>
      <p>Hora: 11:00</p>
      <p>
        <strong>&nbsp;</strong>
      </p>
      <p>
        <strong>Exposicion y Peña Homenaje a Homero Coronel Montes </strong>
      </p>
      <p>Lugar: Museo de la Ciudad</p>
      <p>Hora: 21:00</p>
      <p>
        <strong>&nbsp;</strong>
      </p>
      <p>
        <strong>Adhesión al Cierre del Encuentro Internacional de Danzas Latinoamericanas</strong>
      </p>
      <p>Taller para bailarines</p>
      <p>Lugar: Galpón de la Vieja Estación</p>
      <p>Hora: 10:00</p>
      <p>&nbsp;</p>
      <p>Espectáculo</p>
      <p>Lugar: Explanada del Palacio Municipal</p>
      <p>Hora: 21:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>11 DE FEBRERO</strong>:</span>
      </p>
      <p>
        <strong>Inauguración</strong>
        <strong> de la Muestra </strong>
        <strong>Homenaje a Nicanor Pavón Villarreal </strong>
      </p>
      <p>Lugar: Museo de Bellas Artes “Octavio de la Colina”</p>
      <p>Hora: 20:30</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>12 DE FEBRERO</strong>:&nbsp;</span>
      </p>
      <p>
        <strong>Clase abierta de Danzas Folklóricas</strong>
      </p>
      <p>Luga: Galpón de la Vieja Estación</p>
      <p>Hora: 20:00</p>
      <p>&nbsp;</p>
      <p>
        <strong>Peña del Turista</strong>
      </p>
      <p>&nbsp;Actuarán: Artistas riojanos</p>
      <p>Lugar: Explanada de la Vieja Estación</p>
      <p>Hora:&nbsp; 22:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>13 DE FEBRERO: </strong>
        </span>
      </p>
      <p>
        <strong>Exposición colectiva de Chayas Barriales </strong>
        <strong>|</strong>
        <strong>Disertación </strong>
        <strong>de Silvia Quintero</strong>
        <strong>s sobre su libro: “Topamientos barriales”</strong>
      </p>
      <p>Lugar: Museo Rosario Vera Peñaloza</p>
      <p>Hora: 19:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>16 DE FEBRERO</strong>:</span>
      </p>
      <p>
        <strong>Aniversario </strong>
        <strong>de la muerte del Brigadier General Juan Facundo Quiroga.</strong>
      </p>
      <p>Lugar: Plaza Facundo Quiroga.</p>
      <p>Hora: 10:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>17-18-19 DE FEBRERO</strong>:</span>
      </p>
      <p>
        <strong>Clases abierta de Danzas Folklóricas</strong>
      </p>
      <p>Lugar: Galpón de la Vieja Estación</p>
      <p>Hora: 20:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>20 DE FEBRERO</strong>:</span>
      </p>
      <p>
        <strong>Taller </strong>
        <strong>Infantil </strong>
        <strong>de </strong>
        <strong>G</strong>
        <strong>uaguas</strong>
      </p>
      <p>Lugar: Museo Rosario Vera Peñaloza</p>
      <p>Hora: 18:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>21 DE FEBRERO: </strong>
        </span>
      </p>
      <p>
        <strong>Chaya de los Niño</strong>
        <strong>s</strong>
      </p>
      <p>Lugar: Explanada de la Vieja Estación.</p>
      <p>Hora: 19:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>24-25 DE FEBRERO:</strong>
        </span>
      </p>
      <p>
        <strong>Corsos Municipales</strong>
      </p>
      <p>Lugar: Avenida Yacampis (frente al Autódromo)</p>
      <p>Hora: 21:00</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #003366;">
          <strong>28 DE FEBRERO:</strong>
        </span>
      </p>
      <p>
        <strong>Elección de</strong>
        <strong>l Embajador y Embajadora del </strong>
        <strong>Carnaval</strong>
        <strong> | </strong>
        <strong>Entrega de Premios</strong>.</p>
      <p>Lugar: Explanada de la Vieja Estación</p>
      <p>Hora: 21:00</p>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>