<ion-view title="Agencia Municipal de Cultura" id="page153">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="agenciaMunicipalDeCultura-list166">
      <ion-item class="item-icon-left calm" id="agenciaMunicipalDeCultura-list-item469" href-inappbrowser="https://www.facebook.com/pg/Agencia-Municipal-de-Cultura-1127501233999160/posts/">
        <i class="icon ion-social-facebook"></i>Noticias</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="agenciaMunicipalDeCultura-list167">
      <ion-item class="item-avatar dark" id="agenciaMunicipalDeCultura-list-item470">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Escuela Municipal de Arte
          <p style="white-space:normal;">Horario de atención: 9 a 12 hs. y de 15 a 23 hs.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left calm" id="agenciaMunicipalDeCultura-list-item471" href-inappbrowser="https://www.google.com/maps/place/Escuela+Municipal+De+Arte/@-29.4129071,-66.847745,18.75z/data=!4m5!3m4!1s0x9427da36285b68b9:0xb7e96c510ede7a75!8m2!3d-29.4126825!4d-66.8475352">
        <i class="icon ion-ios-location"></i>Ubicación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="agenciaMunicipalDeCultura-list168">
      <ion-item class="item-avatar dark" id="agenciaMunicipalDeCultura-list-item472">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Ciudad de la Artes
          <p style="white-space:normal;">Horario de atención: 9 a 12 hs. y de 18 a 21 hs.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left calm" id="agenciaMunicipalDeCultura-list-item473" href-inappbrowser="https://www.google.com/maps/place/Galpon+De+La+Vieja+Estacion/@-29.4136395,-66.8471938,124m/data=!3m1!1e3!4m5!3m4!1s0x9427dbcdcd813c1f:0xaa6e5b49735d8a98!8m2!3d-29.4136369!4d-66.8466997">
        <i class="icon ion-ios-location"></i>Ubicación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="agenciaMunicipalDeCultura-list169">
      <ion-item class="item-avatar dark" id="agenciaMunicipalDeCultura-list-item476">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Teatro de la Ciudad
          <p style="white-space:normal;">Horario de atención: 9 a 12 hs. y de 18 a 21 hs.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left calm" id="agenciaMunicipalDeCultura-list-item475" href-inappbrowser="https://www.google.com/maps/place/Teatro+De+La+Ciudad/@-29.4117331,-66.852481,18z/data=!4m12!1m6!3m5!1s0x9427da4a4106d4e9:0x1ded10931fb9683f!2sMuseo+De+La+Ciudad-+La+Rioja!8m2!3d-29.411735!4d-66.851587!3m4!1s0x9427da4a0d518d19:0x248e8ac36df29212!8m2!3d-29.4125972!4d-66.851352">
        <i class="icon ion-ios-location"></i>Ubicación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="agenciaMunicipalDeCultura-list170">
      <ion-item class="item-avatar dark" id="agenciaMunicipalDeCultura-list-item492">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Museo de la Ciudad
          <p style="white-space:normal;">Horario de atención: 9 a 13 hs. y de 17 a 21 hs.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="agenciaMunicipalDeCultura-list186">
      <ion-item class="item-icon-left calm" id="agenciaMunicipalDeCultura-list-item479" href-inappbrowser="https://www.google.com/maps/place/Museo+De+La+Ciudad-+La+Rioja/@-29.4117303,-66.8537757,17z/data=!3m1!4b1!4m5!3m4!1s0x9427da4a4106d4e9:0x1ded10931fb9683f!8m2!3d-29.411735!4d-66.851587">
        <i class="icon ion-ios-location"></i>Ubicación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="agenciaMunicipalDeCultura-list171">
      <ion-item class="item-avatar dark" id="agenciaMunicipalDeCultura-list-item478">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Museo Octavio de la Colina
          <p style="white-space:normal;">Horario de atención: 9 a 13 hs. y de 17 a 21 hs.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left calm" id="agenciaMunicipalDeCultura-list-item493" href-inappbrowser="https://www.google.com/maps/place/Museo+de+Bellas+Artes+Octavio+de+la+Colina/@-29.4121181,-66.8527162,18.29z/data=!4m19!1m13!4m12!1m4!2m2!1d-66.8677563!2d-29.4272085!4e1!1m6!1m2!1s0x9427da4a42833851:0x961bf367d62d15a2!2smuseo+octavio+de+la+colina+la+rioja!2m2!1d-66.8515286!2d-29.4117937!3m4!1s0x9427da4a42833851:0x961bf367d62d15a2!8m2!3d-29.4117937!4d-66.8515286">
        <i class="icon ion-ios-location"></i>Ubicación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>