<ion-view title="Ante casos de personas extraviadas" id="page99">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Información a tener en cuenta ante casos de personas extraviadas</span>
      </h4>
      <p>&nbsp;</p>
      <p>► Hacer la denuncia en una comisaría, fiscalía o juzgado de manera INMEDIATA.</p>
      <p>► La comisaría no puede negarse a recibir la denuncia. No hay ninguna norma que fije un plazo mínimo para hacerlo.</p>
      <p>► Aportar la mayor cantidad de datos posibles. (Fisonomía, señas particulares, problemas físicos o psicológicos, etc.)</p>
      <p>► Acompañar fotografía y autorización para su difusión.</p>
      <p>► Pedir copia de la denuncia policial.</p>
      <p>► Aportar información de contacto.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>