<ion-view title="Antes de reclamar" id="page74">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Antes de hacer tu reclamo en Defensa del Consumidor, tenés que saber que:</p>
      <p>► Cualquier consumidor que compra un producto o contrata un servicio para uso personal puede hacer un reclamo.</p>
      <p>► No es necesario que seas el titular del producto o del servicio para hacer el trámite, con que seas usuario, ya es suficiente.</p>
      <p>► Es conveniente que tengas la documentación que respalda tu denuncia: ticket o factura, N° de reclamo, contrato, etc. Te va a servir para la audiencia de conciliación.</p>
      <p>► El trámite es totalmente gratuito.</p>
      <p>► No necesitás abogados ni gestores.</p>
      <p>► Para hacer tu reclamo, tenés un plazo máximo de tres años, contados a partir del momento en que se produce el problema o inconveniente.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>