<ion-view title="Aplicación móvil 144" id="page96">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Descargate esta aplicación gratuita, complementaria a la Línea 144, para recibir contención y asesoramiento ante situaciones de violencia.</p>
      <p>Además, buscá en el mapa el centro de atención más cercano.</p>
      <p>Si tenés dudas, podés hacer una encuesta para saber si en tu relación hay signos de violencia.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #003366;">
        <strong>Android</strong>
      </span>
    </h4>
    <a href-inappbrowser="https://play.google.com/store/apps/details?id=ar.gob.lalinea144" id="aplicaciNMVil144-button498" class="button button-calm button-small button-block icon ion-android-open"> Descargar</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <h4 style="text-align: center;">
      <span style="color: #003366;">
        <strong>iPhone</strong>
      </span>
    </h4>
    <a href-inappbrowser="https://apps.apple.com/us/app/144/id1356725934" id="aplicaciNMVil144-button502" class="button button-calm button-small button-block icon ion-android-open"> Descargar</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>