<ion-view title="Aspectos legales" id="page67">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <p>Cada vez que comprás un producto (nuevo o usado) o contratás un servicio (público o privado), pagando o en forma gratuita, sea para vos, tu familia o tu grupo social de pertenencia, estás amparado por la&nbsp;Ley 24.240 de Defensa del Consumidor.</p>
    <a
      href-inappbrowser="http://servicios.infoleg.gob.ar/infolegInternet/anexos/0-4999/638/texact.htm" id="aspectosLegales-button421" class="button button-calm button-small icon ion-android-open"> Ley 24.240</a>
      <div class="spacer" style="height: 15px;"></div>
      <p>Tené presente que los únicos servicios que la ley no incluye son los de las profesiones liberales que requieren título universitario y matrícula oficial (abogados, escribanos, médicos, arquitectos, contadores, consultores, etc.) pero sí la publicidad
        que te ofrecen.</p>
      <div class="spacer" style="height: 20px;">
        <hr>
      </div>
      <div>
        <h4>
          <span style="color: #003366;">¿Querés ampliar la información sobre la Ley de Defensa del Consumidor?</span>
        </h4>
        <p>Consultá Derecho Fácil del Ministerio de Justicia y Derechos Humanos.</p>
      </div>
      <a href-inappbrowser="http://www.derechofacil.gob.ar/leysimple/defensa-del-consumidor/" id="aspectosLegales-button424" class="button button-calm button-small icon ion-android-open"> Derecho Fácil</a>
      <div class="spacer" style="height: 20px;">
        <hr>
      </div>
  </ion-content>
</ion-view>