<ion-view title="Beneficios que te corresponden" id="page42">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Subsidio de contención familiar</span>
      </h4>
      <p>Si tu familiar era jubilado/a o pensionado, podés solicitar el subsidio que te va a ayudar a afrontar los gastos de sepelio.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/subsidio-de-contencion-familiar" id="beneficiosQueTeCorresponden-button303" class="button button-calm button-small icon ion-android-open"> Solicitar el subsidio</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión derivada por fallecimiento de un beneficiario</span>
      </h4>
      <p>Cuando fallece un jubilado, los familiares tienen el derecho a una pensión: la viuda/o (cónyuge o concubino/a previsional) y los hijos/as solteros hasta los 18 años (que no perciban otra prestación), pueden solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-la-pension-por-fallecimiento-de-un-jubilado" id="beneficiosQueTeCorresponden-button304" class="button button-calm button-small icon ion-android-open"> Tramitar la pensión</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión por fallecimiento de un trabajador</span>
      </h4>
      <p>Si el trabajador fallecido cumplía con la condición de aportante regular o irregular con derecho, los familiares pueden tramitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-la-pension-por-fallecimiento-de-un-trabajador" id="beneficiosQueTeCorresponden-button305" class="button button-calm button-small icon ion-android-open"> Solicitar la pensión</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Cobro de haberes de un jubilado o pensionado fallecido</span>
      </h4>
      <p>Si sos familiar de un jubilado o pensionado fallecido podés percibir los días pendientes de cobro (más la proporción del aguinaldo que corresponda) hasta el día del fallecimiento.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-el-cobro-de-haberes-de-un-jubilado-o-pensionado-fallecido" id="beneficiosQueTeCorresponden-button306" class="button button-calm button-small icon ion-android-open"> Solicitar el cobro</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Incluir a un nuevo integrante en una pensión ya existente</span>
      </h4>
      <p>Si querés acceder a la pensión que ya está cobrando un familiar de la persona fallecida, tenés que acreditar el vínculo con esa persona fallecida, para poder compartir el cobro del beneficio.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/incluir-un-nuevo-integrante-en-una-pension-ya-concedida" id="beneficiosQueTeCorresponden-button307" class="button button-calm button-small icon ion-android-open"> Incluir a un nuevo integrante</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>