<ion-view title="Casarse" id="page27">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 id="2">
        <span style="color: #003366;">¿Quieren casarse?</span>
      </h4>
      <h5>
        <span style="color: #000000;">&nbsp;</span>
      </h5>
      <h4>
        <span style="color: #003366;">Qué tienen que hacer</span>
      </h4>
      <p>
        <span style="color: #000000;">1.
          <strong>Soliciten el turno</strong>&nbsp;con antelación a la fecha que desean contraer matrimonio. Averigüen en el&nbsp;Registro&nbsp;que les corresponde por domicilio con cuántos días antes tienen que hacerlo.</span>
      </p>
      <p>
        <span style="color: #000000;">2. Tienen que tener los&nbsp;DNI actualizados&nbsp;y presentarlos para acreditar identidad.</span>
      </p>
      <p>
        <span style="color: #000000;">3. Deben declarar la&nbsp;
          <strong>opción de régimen de bienes</strong>: separación de bienes o convención matrimonial. Si no declaran la opción, por omisión los bienes serán gananciales.</span>
      </p>
      <p>
        <span style="color: #000000;">4. Si habían celebrado antes la&nbsp;
          <strong>convención matrimonial</strong>, tienen que presentar original y copia certificada por escribano.</span>
      </p>
      <p>
        <span style="color: #000000;">5. Si tienen&nbsp;
          <strong>hijos</strong>&nbsp;en común:&nbsp;
          <strong>partida de nacimiento original y fotocopia legalizada</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">6. Dos&nbsp;
          <strong>testigos</strong>&nbsp;mayores de 18 años con DNI que acredite identidad.</span>
      </p>
      <p>
        <span style="color: #000000;">7. Deben presentar los&nbsp;
          <strong>análisis prenupciales</strong>&nbsp;en la fecha establecida por el&nbsp;Registro&nbsp;que les corresponde por domicilio.</span>
      </p>
      <p>
        <span style="color: #000000;">8. Si vos o tu pareja ya tuvieron un matrimonio o convivencia previa, deberán&nbsp;
          <strong>justificar el estado civil</strong>&nbsp;con el acta de matrimonio anterior (con la nota marginal de la disolución del vínculo en el caso de los divorciados o el acta de defunción de su cónyuge en el caso de los viudos).</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4>
        <span style="color: #003366;">¿Sabían que pueden elegir el régimen de bienes?</span>
      </h4>
      <p>
        <span style="color: #000000;">Pueden optar por:</span>
      </p>
      <p>
        <span style="color: #000000;">► el&nbsp;
          <strong>régimen de comunidad</strong>: todo es de los dos (más conocido como bienes gananciales);</span>
      </p>
      <p>
        <span style="color: #000000;">► el&nbsp;
          <strong>régimen de separación</strong>: cada uno es dueño de lo suyo. En este caso, tienen que firmar los dos ante escribano una&nbsp;convención matrimonial&nbsp;donde especifican esta opción que quedará inscripta en el acta de matrimonio.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>Régimen de bienes</strong>
        </span>
      </p>
      <p>
        <span style="color: #000000;">¿Quieren saber más sobre los regímenes de bienes en el matrimonio?&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">Consulten en la web de Derecho fácil en el siguiente enlace</span>
      </p>
    </div>
    <a href-inappbrowser="http://www.derechofacil.gob.ar/leysimple/matrimonio-los-bienes/" id="casarse-button130" class="button button-calm button-small icon ion-android-open"> Régimen de bienes</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Una vez casados pueden acceder a los siguientes beneficios:</span>
      </h4>
      <p>
        <span style="color: #000000;">► Asignación familiar por matrimonio</span>
      </p>
      <p>
        <span style="color: #000000;">Si vos y/o tu pareja trabajan en relación de dependencia pueden recibir el pago de esta asignación por única vez al contraer matrimonio.</span>
      </p>
      <p>
        <span style="color: #000000;">► Pueden compartir/unificar aportes para la obra social.</span>
      </p>
      <p>
        <span style="color: #000000;">Si vos y tu pareja son titulares de dos obras sociales, pueden unificar aportes optando por una de ellas o por una tercera, ambos con carácter de titulares.</span>
      </p>
      <p>
        <span style="color: #000000;">► Pueden proteger la vivienda como bien de familia</span>
      </p>
      <p>
        <span style="color: #000000;">Con esta protección patrimonial evitan la ejecución o remate del lugar donde viven.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>En caso de fallecimiento de uno de los dos, el otro puede cobrar la pensión</strong>
        </span>
      </p>
      <p>
        <span style="color: #000000;">Si tu pareja era&nbsp;jubilada/o&nbsp;y fallece, tenés derecho a solicitar una pensión.</span>
      </p>
      <p>
        <span style="color: #000000;">Si tu pareja era un&nbsp;trabajador aportante&nbsp;regular, podés solicitar una pensión</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">
          <em>Si contraes matrimonio con alguien de tu mismo sexo tenés los mismos derechos y obligaciones: acceso a la obra social de tu cónyuge, adopción de un hijo, cobro de pensión por fallecimiento y derecho a su herencia.</em>
        </span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>