<ion-view title="Casos especiales" id="page147">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Sección en desarrollo</span>
      </h4>
      <p>Proximamente disponible</p>
    </div>
    <a href="tel:" id="casosEspeciales-button593" class="button button-calm button-small icon ion-android-open"> Link</a>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>