<ion-view title="Categorías especiales de jubilación" id="page45">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Jubilación por edad avanzada</span>
      </h4>
      <p>Si tenés 70 o más años y no podés acreditar los años de servicios exigidos, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-la-jubilacion-por-edad-avanzada" id="categorAsEspecialesDeJubilaciN-button319" class="button button-calm button-small icon ion-android-open"> Obtener la jubilación por edad avanzada</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Prestación por edad avanzada por invalidez</span>
      </h4>
      <p>Si sos trabajador mayor de 65 años de edad, estás incapacitado para el trabajo, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-la-prestacion-por-edad-avanzada-por-invalidez" id="categorAsEspecialesDeJubilaciN-button320" class="button button-calm button-small icon ion-android-open"> Solicitar la prestación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Prestación por edad avanzada para trabajadores rurales</span>
      </h4>
      <p>Si sos trabajador rural bajo dependencia de productores, contratistas o sub-contratistas de actividades agropecuarias, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-jubilacion-por-edad-avanzada-de-trabajadores-rurales" id="categorAsEspecialesDeJubilaciN-button321" class="button button-calm button-small icon ion-android-open"> Tramitar jubilación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Retiro por invalidez</span>
      </h4>
      <p>Si sos trabajador y estás incapacitado física o intelectualmente, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-el-retiro-por-invalidez" id="categorAsEspecialesDeJubilaciN-button322" class="button button-calm button-small icon ion-android-open"> Obtener el retiro por invalidez</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Régimen para actividades con características especiales</span>
      </h4>
      <p>Si sos docente, investigador, trabajador de la industria de la construcción, personal embarcado, servicio doméstico, etc., podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-jubilacion-por-actividades-especiales" id="categorAsEspecialesDeJubilaciN-button323" class="button button-calm button-small icon ion-android-open"> Obtener jubilación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Prestaciones por convenio internacional</span>
      </h4>
      <p>Si realizaste tareas en el exterior y tenés los aportes, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-prestaciones-por-convenio-internacional" id="categorAsEspecialesDeJubilaciN-button334" class="button button-calm button-small icon ion-android-open"> Tramitar prestaciones</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Jubilación para trabajadores minusválidos</span>
      </h4>
      <p>Si tenés 20 años de servicios con aportes y prestaste servicios en estado de disminución física (mayor al 33%); podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-jubilacion-para-trabajadores-minusvalidos" id="categorAsEspecialesDeJubilaciN-button335" class="button button-calm button-small icon ion-android-open"> Tramitar jubilación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Jubilación para trabajadores con ceguera</span>
      </h4>
      <p>Si tenés 20 años de servicios con aportes, o 45 años de edad para ambos sexos, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-jubilacion-para-trabajadores-con-ceguera" id="categorAsEspecialesDeJubilaciN-button336" class="button button-calm button-small icon ion-android-open"> Solicitar jubilación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>