<ion-view title="Certificado Médico Oficial - CMO" id="page94">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar una pensión no contributiva por invalidez</span>
      </h4>
      <p>Las personas que acrediten una disminución del 76% o más de la capacidad laboral y se encuentren en situación de vulnerabilidad social podrán acceder a una pensión no contributiva.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-una-pension-no-contributiva-por-invalidez" id="certificadoMDicoOficialCMO-button492" class="button button-calm button-small icon ion-android-open"> Solicitar una pensión</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Cursos y capacitaciones sobre diversidad sexual y derechos humanos</span>
      </h4>
      <p>Formación en la temática, a través del conocimiento y las herramientas para aprender y reflexionar sobre diversidad sexual en el ámbito social, cultural, educativo y laboral, entre otros.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/cursosdiversidad" id="certificadoMDicoOficialCMO-button493" class="button button-calm button-small icon ion-android-open"> Cursos y capacitaciones</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>