<ion-view title="Certificado Único de Discapacidad" id="page76">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Cómo obtener el Certificado Único de Discapacidad (CUD)</span>
      </h4>
      <p>El CUD es un documento público válido en todo el país que permite ejercer los derechos y acceder a las prestaciones previstas en las leyes nacionales 22431 y 24901. Es otorgado por una Junta Evaluadora que certifica la discapacidad de la persona.
        Su tramitación es voluntaria y gratuita.</p>
      <p>
        <strong>► Salud:</strong>&nbsp;cobertura del 100% en las prestaciones que requiera en relación a su discapacidad, incluyendo medicamentos, equipamiento, tratamientos y rehabilitación.</p>
      <p>
        <strong>► Transporte:</strong>&nbsp;traslados gratuitos en el transporte público, exención de pago de peajes y libre estacionamiento, en los lugares permitidos, independientemente del vehículo en el que te traslades.</p>
      <p>
        <strong>► Asignaciones familiares:</strong>&nbsp;ayuda escolar anual por hijo con discapacidad, asignación familiar por hijo con discapacidad.</p>
      <p>
        <strong>► Otros trámites:</strong>&nbsp;exención de impuestos (municipales, patentes, entre otros).</p>
      <p>&nbsp;</p>
      <h4 class="media m-y-4">
        <span style="color: #003366;">¿Cómo hago?</span>
      </h4>
      <div class="media m-y-4">
        <div class="media-body">
          <div class="steps clearfix">
            <p>1. Reuní la documentación necesaria con el equipo de salud que te trata (certificados médicos, informes, planillas, estudios complementarios).</p>
            <p>2. Con la documentación reunida acercate al lugar que te asignaron en la consulta personalizada y pedí un turno para la Junta Evaluadora.</p>
            <p>3. Recordá anotar y asistir el día asignado a la evaluación de la Junta.</p>
            <p>4. El Certificado Único de Discapacidad se retira en el mismo lugar donde te evaluaron, en la fecha que te indiquen.</p>
          </div>
        </div>
        <div class="media clearfix">&nbsp;</div>
      </div>
      <div id="field_costo_tramite" class="media m-y-4">
        <div class="media-body">
          <h4 class="m-t-0 m-b-2">
            <span style="color: #003366;">¿Cuál es el costo del trámite?</span>
          </h4>
          <div class="pane-content">
            <div class="field field-name-field-costo field-type-field-collection field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
                  <p class="clearfix">Gratuito</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-separator">&nbsp;</div>
      <div class="media m-y-4">
        <h4 class="media-left hidden-xs">
          <span style="color: #003366;">Vigencia</span>
        </h4>
        <div class="media-body">
          <div class="field field-name-field-vigencia field-type-field-collection field-label-hidden">
            <div class="field-items">
              <div class="field-item even">
                <p>► De 0 a 5 años, máximo 5 años.</p>
                <p>► Mayores de 5 años, hasta 10 años.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/cud/consulta-de-requisitos-para-tramitar-el-cud" id="certificadoNicoDeDiscapacidad-button449" class="button button-calm button-small icon ion-android-open"> Iniciar Trámite</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>