<ion-view title="Comprá mejor" id="page70">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Precios cuidados</span>
      </h4>
      <p>Lácteos, carnes, panificados, artículos de limpieza: conocé cuáles son los productos y en qué supermercados encontrarlos.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/precios-cuidados" id="comprMejor-button429" class="button button-calm button-small icon ion-android-open"> Precios Cuidados</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Recibir Envíos Internacionales</span>
      </h4>
      <p>Conocé los pasos a seguir si recibís un envío del exterior a tu nombre, ya sea porque hiciste una compra a través de Internet o porque te mandaron un regalo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/recibir-envios-del-exterior" id="comprMejor-button430" class="button button-calm button-small icon ion-android-open"> Recibir Envíos Internacionales</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Compras en el exterior con envío puerta a puerta</span>
      </h4>
      <p>Sabé cómo hacer para comprar productos en el extranjero y recibirlos en tu casa o retirarlos en la sucursal más cercana de Correo Argentino.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/comprar-en-el-exterior-con-entrega-puerta-puerta" id="comprMejor-button455" class="button button-calm button-small icon ion-android-open"> Entrega puerta a puerta</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Compras en el exterior con el sistema de pequeños envíos</span>
      </h4>
      <p>Informate sobre esta modalidad que te permite adquirir productos en el exterior y recibirlos en tu casa a través del servicio de Courier Internacional.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/comprar-en-el-exterior-con-el-sistema-de-pequenos-envios" id="comprMejor-button456" class="button button-calm button-small icon ion-android-open"> sistema de pequeños envíos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>