<ion-view title="Consejos Útiles" id="page23" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/iFchB8ObT1ufXlc8167c_ConsejosUtiles.png" style="display: block; width: 66%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="consejosTiles-list98">
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item281">
        <i class="icon ion-ios-compose-outline"></i>Cuidemos la Ciudad</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item302">
        <i class="icon ion-ios-compose-outline"></i>Maltrato Animal</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item299">
        <i class="icon ion-ios-compose-outline"></i>Ola de Calor</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item300">
        <i class="icon ion-ios-compose-outline"></i>Incendios forestales</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item301">
        <i class="icon ion-ios-compose-outline"></i>Tormentas Eléctricas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="consejosTiles-list95">
      <ion-item class="item-divider" id="consejosTiles-list-item-divider4"> Concejos Seguridad Vial</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item298">
        <i class="icon ion-ios-compose-outline"></i>Seguridad Vial</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item286">
        <i class="icon ion-ios-compose-outline"></i>Circular en Moto</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item297">
        <i class="icon ion-ios-compose-outline"></i>Circular en Bicicleta</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item268">
        <i class="icon ion-ios-compose-outline"></i>Circular en días de lluvia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="consejosTiles-list97">
      <ion-item class="item-divider" id="consejosTiles-list-item-divider3"> Alimentación</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item295">
        <i class="icon ion-ios-compose-outline"></i>Prevención de Triquinosis</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item296">
        <i class="icon ion-ios-compose-outline"></i>Cuando compre Pescado</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item303">
        <i class="icon ion-ios-compose-outline"></i>Alimentos sanos y seguros</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="consejosTiles-list96">
      <ion-item class="item-divider" id="consejosTiles-list-item-divider5"> Prevención de plagas</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item226">
        <i class="icon ion-ios-compose-outline"></i>Dengue</ion-item>
      <ion-item class="item-icon-left dark" id="consejosTiles-list-item233">
        <i class="icon ion-ios-compose-outline"></i>Alacranes</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>