<ion-view title="Consejos saludables" id="page53">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Tu pausa activa</span>
      </h4>
      <p>Desconectate 5 minutos de la rutina, elegí el nivel más adecuado para vos, seguí las indicaciones de los entrenadores y de a poco vas a sentirte mejor. No olvides consultar a tu médico antes de empezar a moverte o de incrementar el nivel de intensidad,
        en especial si tenés alguna dolencia o más de 50 años.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/tupausaactiva" id="consejosSaludables-button352" class="button button-calm button-small icon ion-android-open"> Tu pausa activa</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Adultos mayores</span>
      </h4>
      <p>Si tenés más de 65 años, la actividad física regular te brinda grandes beneficios para tu salud. Te ayuda a respirar mejor, a tener un corazón más sano, a fortalecer tus huesos y a tonificar tus músculos.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/tupausaactiva/paratodos#adultosmayores" id="consejosSaludables-button353" class="button button-calm button-small icon ion-android-open"> Adultos mayores</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Actividad física si tenés diabetes</span>
      </h4>
      <p>Hacer ejercicio mejora el control del azúcar en sangre y puede ayudarte a disminuir las dosis de medicación.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/tupausaactiva/diabetes" id="consejosSaludables-button354" class="button button-calm button-small icon ion-android-open"> Actividad física si tenés diabetes</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Actividad física si tenés presión alta</span>
      </h4>
      <p>Comenzá a hacer estos ejercicios y en tres semanas vas a comenzar a sentir la diferencia.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/tupausaactiva/hipertension" id="consejosSaludables-button378" class="button button-calm button-small icon ion-android-open"> Actividad física si tenés presión alta</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>