<ion-view title="Consumidores" id="page32">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/7tHtXCaSTbCB9cOWaX4t_Consumidores1.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="consumidores-list128">
      <ion-item class="item-avatar dark" id="consumidores-list-item321">
        <img src="img/KSH0pNUtRHyaH0OPufHv_Consumidores01a.jpg">
        <h2dark>Conocer mis derechos
          <p style="white-space:normal;">Info detallada sobre qué derechos te asisten como consumidor.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="consumidores-list-item322" ui-sref="guALaRioja.aspectosLegales()">
        <i class="icon ion-arrow-right-b"></i>Aspectos legales</ion-item>
    </ion-list>
    <ion-list id="consumidores-list129">
      <ion-item class="item-icon-left dark" id="consumidores-list-item323" ui-sref="guALaRioja.QuPuedoExigirComoConsumidor()">
        <i class="icon ion-arrow-right-b"></i>¿Qué puedo exigir como consumidor?</ion-item>
      <ion-item class="item-icon-left dark" id="consumidores-list-item259" ui-sref="guALaRioja.serviciosTilesParaElConsumidor()">
        <i class="icon ion-arrow-right-b"></i>Servicios útiles para el consumidor</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="consumidores-list130">
      <ion-item class="item-avatar dark" id="consumidores-list-item324">
        <img src="img/fgatrVKCQnm2jemr9c1M_Consumidores02a.jpg">
        <h2dark>Comprar o contratar un servicio
          <p style="white-space:normal;">Estas herramientas te serán de ayuda.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="consumidores-list131">
      <ion-item class="item-icon-left dark" id="consumidores-list-item325" ui-sref="guALaRioja.comprMejor()">
        <i class="icon ion-arrow-right-b"></i>Comprá Mejor</ion-item>
      <ion-item class="item-icon-left dark" id="consumidores-list-item315" ui-sref="guALaRioja.controlTuFacturaDeServicios()">
        <i class="icon ion-arrow-right-b"></i>Controlá tu factura de servicios</ion-item>
    </ion-list>
    <ion-list id="consumidores-list133">
      <ion-item class="item-icon-left dark" id="consumidores-list-item328" ui-sref="guALaRioja.consejos()">
        <i class="icon ion-arrow-right-b"></i>Consejos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="consumidores-list134">
      <ion-item class="item-avatar dark" id="consumidores-list-item329">
        <img src="img/OiyvBhiuQaSAt7CWlxVT_Consumidores03a.jpg">
        <h2dark>Hacer un reclamo
          <p style="white-space:normal;">Guía para que hagas el reclamo en forma exitosa.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="consumidores-list-item330" ui-sref="guALaRioja.antesDeReclamar()">
        <i class="icon ion-arrow-right-b"></i>Antes de reclamar</ion-item>
      <ion-item class="item-icon-left dark" id="consumidores-list-item331" ui-sref="guALaRioja.presentTuReclamo()">
        <i class="icon ion-arrow-right-b"></i>Presentá tu reclamo</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>