<ion-view title="Consejos" id="page73">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">¿Vas a comprar por Internet?</span>
      </h4>
      <p>1. Antes de realizar la compra, verificá los datos del vendedor o la empresa, para asegurarte de que ese comercio exista de verdad.</p>
      <p>2. Comprobá que la página web sea segura, para que nadie pueda hackear los datos de la tarjeta con la que vas a pagar.</p>
      <p>3. Leé bien los términos y condiciones y, en especial, la letra chica, para evitarte una mala experiencia. Tené en cuenta que a veces las fotos pueden engañar un poco.</p>
      <p>4. Asegurate de que te envíen por mail el comprobante de pago o la factura electrónica. Por cualquier medio que compres, te tienen que dar la factura, porque es tu comprobante de pago para hacer cualquier reclamo.</p>
      <p>5. Acordate de que al recibir el producto, tenés 10 días para cancelar la compra. Si estás disconforme, podés devolverlo antes de ese plazo.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">&nbsp;¿Tenés celular?</span>
      </h4>
      <p>1. No pueden cobrarte por suscripciones que no pediste. Si igual te descontaron crédito, pedí el reintegro que te corresponde.</p>
      <p>2. Si aumenta o cambia el servicio, te tienen que informar 60 días antes. Si no aceptas las nuevas condiciones, podés dar de baja el servicio sin cargo.</p>
      <p>3. Si el servicio falla, podés pedir el reintegro por cada día de incumplimiento. Acordate de llamar a la empresa y pedir el N° de reclamo.</p>
      <p>4. Si decidís cambiar de compañía, tenés derecho a conservar tu número. El trámite no puede durar más de 5 días hábiles.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Te vas de vacaciones?</span>
      </h4>
      <p>1. Si vas a contratar una excursión, hacelo en agencias habilitadas.</p>
      <p>2. En caso de alquilar un inmueble, verificá los datos del dueño y leé atentamente el contrato.</p>
      <p>3. Al llegar, revisá que el alojamiento se encuentre en las condiciones establecidas en el contrato.</p>
      <p>4. Si vas a alquilar un auto, pedí copia del contrato con anticipación.</p>
      <p>5. Cuando te entreguen un vehículo, verificá que cumpla exactamente con las condiciones del contrato.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Vas a comprar en períodos promocionales como&nbsp;
          <strong>hot sale</strong>?</span>
      </h4>
      <p>1. Informate previamente sobre las características del producto que querés comprar. La oferta debe ser clara y detallada.</p>
      <p>2. Compará precios antes de tomar la decisión.</p>
      <p>3. Si la oferta tiene cantidades limitadas, deben informarte cuántas unidades disponibles hay.</p>
      <p>4. Asegurate de que en la pantalla aparezcan los costos finales, incluido el envío.</p>
      <p>5. Controlá el límite disponible de tu tarjeta de crédito antes de hacer la compra.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>