<ion-view title="Controlá tu factura de servicios" id="page72">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Gas</span>
      </h4>
      <p>Si necesitás información sobre cada uno de los cargos que conforman el monto a pagar de tu factura, qué se entiende por consumo facturado o el modo de pago, consultá como leer tu factura mensual de Ecogas.</p>
    </div>
    <a href-inappbrowser="https://www.ecogas.com.ar/appweb/leo/inicio.php?c=s&amp;sitio=centro_resid_conozca_su_factura" id="controlTuFacturaDeServicios-button441" class="button button-calm button-small icon ion-android-open"> Conozca su factura</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Electricidad</span>
      </h4>
      <p>Si buscás orientación sobre requisitos para la conexión, cuadro tarifario, planes de pago, régimen de suministro, la información para clientes del sitio de Edelar&nbsp;te va a resultar útil.</p>
    </div>
    <a href-inappbrowser="https://www.edelar.com.ar/web/app/sitio/pequenos_clientes" id="controlTuFacturaDeServicios-button442" class="button button-calm button-small icon ion-android-open"> Información para clientes</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Telefonía (fija y móvil)</span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>Movistar</strong>
      </p>
      <p>Si tu prestadora es Movistar, conocé los términos de tu factura.</p>
    </div>
    <a href-inappbrowser="https://ayuda.movistar.com.ar/mi-factura/mono.html" id="controlTuFacturaDeServicios-button457" class="button button-calm button-small icon ion-android-open"> cómo se compone tu factura</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>Telecom</strong>
      </p>
      <p>La empresa te brinda un tutorial para una lectura clara.</p>
    </div>
    <a href-inappbrowser="https://hogares.telecom.com.ar/ayudaysoporte/tutoriales/nueva-factura/" id="controlTuFacturaDeServicios-button458" class="button button-calm button-small icon ion-android-open"> Conocé tu factura</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>Personal</strong>
      </p>
      <p>Una guía paso a paso de tu factura, para que puedas tener una lectura más clara y amigable.</p>
    </div>
    <a href-inappbrowser="https://www.personal.com.ar/ayudaysoporte/tutoriales/nueva-factura/index.html" id="controlTuFacturaDeServicios-button459" class="button button-calm button-small icon ion-android-open"> Conocé tu factura</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>Claro</strong>
      </p>
      <p>Obtené las explicaciones necesarias para leer tu factura en forma adecuada.</p>
    </div>
    <a href-inappbrowser="https://asistencia.claro.com.ar/soporte/contenido/como-leer-tu-factura-claro" id="controlTuFacturaDeServicios-button460" class="button button-calm button-small icon ion-android-open"> Cómo leer tu factura Claro</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>