<ion-view title="Cuadernillo para el uso del Símbolo" id="page90">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Publicaciones sobre diversidad sexual</span>
      </h4>
      <p>Recursos y documentos que permiten difundir y acercar información sobre diversidad sexual, y concientizar e informar acerca de los derechos de la población LGBTIQ y su aplicación.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/publicacionesdiversidad" id="cuadernilloParaElUsoDelSMbolo-button486" class="button button-calm button-small icon ion-android-open"> Guías y herramientas sobre diversidad</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Cursos y capacitaciones sobre diversidad sexual y derechos humanos</span>
      </h4>
      <p>Formación en la temática, a través del conocimiento y las herramientas para aprender y reflexionar sobre diversidad sexual en el ámbito social, cultural, educativo y laboral, entre otros.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/cursosdiversidad" id="cuadernilloParaElUsoDelSMbolo-button487" class="button button-calm button-small icon ion-android-open"> Cursos y capacitaciones</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>