<ion-view title="Cuidar la salud" id="page126">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/V5fqLiSJSlK5dontQTwf_CuidarlaSalud1.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="cuidarLaSalud-list111">
      <ion-item class="item-avatar dark" id="cuidarLaSalud-list-item386">
        <h2dark>Crecer con Salud
          <p style="white-space:normal;">Recomendaciones para el embarazo, parto, puerperio, lactancia y crianza.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item387" ui-sref="guALaRioja.planificTuEmbarazo2()">
        <i class="icon ion-arrow-right-b"></i>Planificá tu embarazo</ion-item>
    </ion-list>
    <ion-list id="cuidarLaSalud-list113">
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item388" ui-sref="guALaRioja.embarazoPartoYPuerperio()">
        <i class="icon ion-arrow-right-b"></i>Embarazo, parto y puerperio</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item389" ui-sref="guALaRioja.primerMesDeVidaDelBeb()">
        <i class="icon ion-arrow-right-b"></i>Primer mes de vida del bebé</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item390" ui-sref="guALaRioja.primerAODeVida()">
        <i class="icon ion-arrow-right-b"></i>Primer año de vida</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item404" ui-sref="guALaRioja.niOsYNiAsDe1A5AOs()">
        <i class="icon ion-arrow-right-b"></i>Niños y niñas de 1 a 5 años</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item405" ui-sref="guALaRioja.niOsYNiAsDe6A10AOs()">
        <i class="icon ion-arrow-right-b"></i>Niños y niñas de 6 a 10 años</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="cuidarLaSalud-list114">
      <ion-item class="item-avatar dark" id="cuidarLaSalud-list-item391">
        <h2dark>Vacunas
          <p style="white-space:normal;">Todo lo que tenés que saber sobre las vacunas y el calendario de vacunación para vos y tu familia.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="cuidarLaSalud-list115">
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item392" ui-sref="guALaRioja.calendarioNacionalDeVacunaciN()">
        <i class="icon ion-arrow-right-b"></i>Calendario Nacional de Vacunación</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item393" ui-sref="guALaRioja.elCarnDeVacunaciN()">
        <i class="icon ion-arrow-right-b"></i>El carné de vacunación</ion-item>
    </ion-list>
    <ion-list id="cuidarLaSalud-list116">
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item394" ui-sref="guALaRioja.conocCMoTeProtegenEstasVacunas()">
        <i class="icon ion-arrow-right-b"></i>Conocé cómo te protegen estas vacunas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="cuidarLaSalud-list118">
      <ion-item class="item-avatar dark" id="cuidarLaSalud-list-item400">
        <h2dark>Cuidados en el verano
          <p style="white-space:normal;">Recomendaciones para cuidarte del sol, prevenir enfermedades y disfrutar el verano.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item401" ui-sref="guALaRioja.protegeteDelSolYElCalor()">
        <i class="icon ion-arrow-right-b"></i>Protegete del sol y el calor</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item402" ui-sref="guALaRioja.alimentaciNSegura()">
        <i class="icon ion-arrow-right-b"></i>Alimentación segura</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item403" ui-sref="guALaRioja.olasDeCalor()">
        <i class="icon ion-arrow-right-b"></i>Olas de calor</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item406" ui-sref="guALaRioja.prevenciNDelSNdromeUrMicoHemolTico()">
        <i class="icon ion-arrow-right-b"></i>Prevención del síndrome urémico hemolítico</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item407" ui-sref="guALaRioja.hidrataciNAdecuadaYConsumoDeAguaSegura()">
        <i class="icon ion-arrow-right-b"></i>Hidratación adecuada y consumo de agua segura</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item408" ui-sref="guALaRioja.prevenciNDeAccidentes()">
        <i class="icon ion-arrow-right-b"></i>Prevención de accidentes</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item411" ui-sref="guALaRioja.saludDelViajero()">
        <i class="icon ion-arrow-right-b"></i>Salud del viajero</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item410" ui-sref="guALaRioja.vivamosLibresDeMosquitos()">
        <i class="icon ion-arrow-right-b"></i>Vivamos libres de mosquitos</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item409" ui-sref="guALaRioja.fiebreAmarilla()">
        <i class="icon ion-arrow-right-b"></i>Fiebre amarilla</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="cuidarLaSalud-list126">
      <ion-item class="item-avatar dark" id="cuidarLaSalud-list-item414">
        <h2dark>Primeros Auxilios
          <p style="white-space:normal;">Actuar a tiempo salva vidas.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item415" ui-sref="guALaRioja.situacionesDeEmergencia()">
        <i class="icon ion-arrow-right-b"></i>Situaciones de emergencia</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item424" ui-sref="guALaRioja.botiquNDePrimerosAuxilios()">
        <i class="icon ion-arrow-right-b"></i>Botiquín de primeros auxilios</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item425" ui-sref="guALaRioja.preguntasFrecuentes()">
        <i class="icon ion-arrow-right-b"></i>Preguntas frecuentes</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item426" href-inappbrowser="https://www.argentina.gob.ar/sites/default/files/manual_1ros_auxilios_web.pdf">
        <i class="icon ion-arrow-right-b"></i>Manual de primeros auxilios</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="cuidarLaSalud-list120">
      <ion-item class="item-avatar dark" id="cuidarLaSalud-list-item413">
        <h2dark>Salud sexual y reproductiva
          <p style="white-space:normal;">Anticonceptivos, prevención de enfermedades, embarazo responsable.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item416" ui-sref="guALaRioja.anticonceptivos()">
        <i class="icon ion-arrow-right-b"></i>Anticonceptivos</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item428" ui-sref="guALaRioja.sexoSeguro()">
        <i class="icon ion-arrow-right-b"></i>Sexo seguro</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item427" ui-sref="guALaRioja.embarazoResponsable()">
        <i class="icon ion-arrow-right-b"></i>Embarazo responsable</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="cuidarLaSalud-list122">
      <ion-item class="item-avatar dark" id="cuidarLaSalud-list-item412">
        <h2dark>Salud del viajero
          <p style="white-space:normal;">Recomendaciones, consejos e información sobre salud para viajeros.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item417" ui-sref="guALaRioja.consejosParaUnViajeSaludable()">
        <i class="icon ion-arrow-right-b"></i>Consejos para un viaje saludable</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item429" ui-sref="guALaRioja.botiquNDeViaje()">
        <i class="icon ion-arrow-right-b"></i>Botiquín de viaje</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item430" ui-sref="guALaRioja.antesDeViajar2()">
        <i class="icon ion-arrow-right-b"></i>Antes de Viajar</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item432" ui-sref="guALaRioja.cuidadosDuranteElViaje()">
        <i class="icon ion-arrow-right-b"></i>Cuidados durante el viaje</ion-item>
      <ion-item class="item-icon-left dark" id="cuidarLaSalud-list-item431" ui-sref="guALaRioja.casosEspeciales()">
        <i class="icon ion-arrow-right-b"></i>Casos especiales</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>