<ion-view title="¿Cuándo hay explotación?" id="page101">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>► Si se promueve, facilita o comercializa la prostitución ajena o cualquier otra forma de oferta de servicios sexuales ajenos.</p>
      <p>&nbsp;► Si se obliga a una persona a realizar trabajos o servicios forzados.</p>
      <p>&nbsp;► Si se reduce o mantiene a una persona en condición de esclavitud o servidumbre.</p>
      <p>&nbsp;► Si se promueve, facilita o comercializa la pornografía infantil o la realización de cualquier tipo de representación o espectáculo con dicho contenido.</p>
      <p>&nbsp;► Si se fuerza a una persona al matrimonio o a cualquier tipo de unión de hecho.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>