<ion-view title="Decisiones a tomar" id="page24">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <p>Tratar la cuestión de la&nbsp;
      <strong>donación de órganos</strong>&nbsp;dentro de las 24 horas. Aunque sea doloroso es necesario que averigües la intención del fallecido respecto a la&nbsp;donación de órganos, ya que de no existir una manifestación de cuál es la voluntad, la ley presume
      que la persona es donante.</p>
    <a href-inappbrowser="https://www.argentina.gob.ar/manifestar-la-voluntad-de-donacion-de-organos-y-tejidos" id="decisionesATomar-button285" class="button button-calm button-small icon ion-android-open"> Expresar la voluntad de donar órganos</a>
    <div class="spacer" style="height: 30px;">
      <hr>
    </div>
    <p>¿Sabés si quería entierro o cremación? Recordá que para la cremación tenés que solicitar una&nbsp;
      <strong>licencia de cremación</strong>. Consultá en el&nbsp;Registro&nbsp;Civil cuáles son los pasos a seguir.</p>
    <a href-inappbrowser="https://www.buenosaires.gob.ar/registrocivil/sedes/registros-civiles-en-argentina" id="decisionesATomar-button288" class="button button-calm button-small icon ion-android-open">
    Registros Civiles en Argentina</a>
    <div class="spacer" style="height: 30px;">
      <hr>
    </div>
    <p>Averiguá si el fallecido o tu familia tienen alguna parcela en algún cementerio (público o privado).</p>
    <div></div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>