<ion-view title="Delegaciones municipales" id="page148">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list136">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item459" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Agencia de Cultura</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list181">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item488" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Agencia de Deporte</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list182">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item482" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Sec. de Desarrollo Urbano</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list179">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item486" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Sec. de Ambiente</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list180">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item487" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Dir. de Publicidad y Propaganda</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list177">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item484" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Dir. de Rentas Municipales</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list178">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item485" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Espectáculos Públicos</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list183">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item483" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>Tribunal de Cuentas Municipal</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list184">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item489" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>IMAP
          <p style="white-space:normal;">Instituto Municipal de Administración Pública</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="delegacionesMunicipales-list185">
      <ion-item class="item-avatar dark" id="delegacionesMunicipales-list-item491" ui-sref="guALaRioja.agenciaMunicipalDeCultura()">
        <img src="img/fB7GPc80RvCf8LfcG8wa_LogoEscudoMuni.jpg">
        <h2dark>CEPAR
          <p style="white-space:normal;">Centros de Participación Ciudadana</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>