<ion-view title="Denunciá un hecho de discriminación" id="page64">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Denunciar un hecho de discriminación</span>
      </h4>
      <p>Si sufriste un acto de discriminación, te explicamos cómo hacer para efectuar una denuncia ante el INADI, organismo que además te brindará asistencia, contención y asesoramiento jurídico gratuito.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/denunciar-un-hecho-de-discriminacion" id="denunciUnHechoDeDiscriminaciN-button401" class="button button-calm button-small icon ion-android-open"> Denunciar un hecho de discriminación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Denunciar discriminación en Internet</span>
      </h4>
      <p>Si fuiste víctima de discriminación en Internet, te orientamos sobre cómo hacer la denuncia ante el Instituto Nacional contra la Discriminación, la Xenofobia y el Racismo (INADI).</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/denunciar-discriminacion-en-internet" id="denunciUnHechoDeDiscriminaciN-button416" class="button button-calm button-small icon ion-android-open"> Denunciar discriminación en Internet</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>