<ion-view title="Divorciarse" id="page29">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 id="3">
        <span style="color: #003366;">¿Te querés divorciar?</span>
      </h4>
      <p>
        <span style="color: #000000;">Si te querés divorciar, tenés que saber cómo hacerlo, qué te va a pedir el juez, qué pasa con tus hijos, la vivienda familiar y si podés pedir una compensación económica.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <div class="col-md-12">
        <div id="tarjeta-1" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué tengo que hacer si me quiero divorciar?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Tenés que presentarte ante el juez pidiendo el divorcio.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 437.</em>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-2" class="panel panel-disabled">
          <div class="panel-body">
            <h3>
              <span style="color: #000000;">&nbsp;</span>
            </h3>
            <h4>
              <span style="color: #003366;">¿Tengo que esperar algún tiempo desde que me casé para divorciarme?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">No. Podés divorciarte en cualquier momento.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 435 y siguientes.</em>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-3" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #000000;">&nbsp;</span>
            </h4>
            <h4>
              <span style="color: #003366;">¿Tengo que explicarle al juez por qué me quiero divorciar?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">No. No tenés que explicarle al juez las causas por las que querés divorciarte. Solo tenés que pedirle que te dé el divorcio.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 435 y siguientes.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-4" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Podemos ir juntos a pedirle el divorcio al juez?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Sí, pueden ir juntos a pedirle al juez el divorcio. Tienen que llevarle una propuesta donde fijen cuestiones relacionadas con la vivienda, los bienes, los hijos y otros puntos de interés.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 437 y 438.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-5" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">Si mi cónyuge no quiere divorciarse ¿puedo divorciarme igual?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Si, podés pedir el divorcio aunque tu cónyuge no esté de acuerdo.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 437.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-6" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Para el trámite de divorcio necesito un abogado?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Sí, para divorciarte tiene que asistirte un abogado.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Procesal Civil y Comercial de la Nación, Art. 56.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-7" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué me va a pedir el juez si me quiero divorciar?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Te va a pedir, además de tu documentación y la de tus hijos menores, una propuesta de divorcio que tenga cuestiones relacionadas con:</span>
            </p>
            <p>
              <span style="color: #000000;">► La vivienda.</span>
            </p>
            <p>
              <span style="color: #000000;">► La distribución de los bienes.</span>
            </p>
            <p>
              <span style="color: #000000;">► Posibles compensaciones económicas entre vos y tu cónyuge.</span>
            </p>
            <p>
              <span style="color: #000000;">► Los hijos y su cuidado, alimentos, etc.</span>
            </p>
            <p>
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 438 y 439.</em>
              </span>
            </p>
            <p>
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-8" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Puedo divorciarme si no presento una propuesta de divorcio?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">No. Es requisito necesario para divorciarte que presentes una propuesta de divorcio.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Civil y Comercial, artículo 438.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-9" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué pasa si no nos ponemos de acuerdo con la propuesta de divorcio?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Si no se ponen de acuerdo con la propuesta de divorcio el juez igual dicta la sentencia de divorcio. Mientras tanto, pueden seguir discutiendo la propuesta de divorcio.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículos 438.</em>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-10" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #000000;">&nbsp;</span>
            </h4>
            <h4>
              <span style="color: #003366;">¿Puedo pedirle al juez quedarme en la casa en la que vivimos?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Sí. Vos o tu cónyuge pueden pedirle al juez quedarse en la vivienda familiar. No importa si la casa es tuya, de tu cónyuge o de los dos. El juez decide quién se queda en la vivienda.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículos 443.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-11" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué tiene en cuenta el juez para decidir quién de los dos se queda en la vivienda familiar?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Cuando el juez decide quién se queda en la vivienda familiar va a tener en cuenta:</span>
            </p>
            <ul>
              <li>
                <span style="color: #000000;">Quién va a tener el cuidado de los hijos.</span>
              </li>
              <li>
                <span style="color: #000000;">Quién está en peor situación económica para tener una vivienda por sus propios medios.</span>
              </li>
              <li>
                <span style="color: #000000;">El estado de salud y edad de los cónyuges.</span>
              </li>
              <li>
                <span style="color: #000000;">Los intereses de otras personas que forman el grupo familiar.</span>
              </li>
            </ul>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículos 443.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-12" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">Si me quedo en la vivienda familiar ¿tengo que darle una compensación económica a mi excónyuge?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">En algunos casos, el juez puede fijarle a tu excónyuge una renta que vas a tener que pagarle para compensar el uso que vos haces de la vivienda familiar.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículos 444.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-13" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué pasa si nos divorciamos y la casa en la que convivíamos es alquilada?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Si la vivienda es alquilada y el juez te dio su uso, podés quedarte en la casa aunque sea tu excónyuge el que paga el alquiler. Podés quedarte en la casa hasta que termine el contrato de alquiler.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículos 444.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-14" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Cuándo tengo que irme de la vivienda familiar?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Tenés que irte de la vivienda familiar cuando:</span>
            </p>
            <ul>
              <li>
                <span style="color: #000000;">Se vence el plazo que fijó el juez.</span>
              </li>
              <li>
                <span style="color: #000000;">Si cambiaron las condiciones que hicieron que te den la casa, por ejemplo, si conseguiste otra casa mejor para vivir.</span>
              </li>
              <li>
                <span style="color: #000000;">Mientras no seas considerado indigno para heredar, por ejemplo, mientras no cometas un delito doloso contra tu excónyuge o tus hijos.</span>
              </li>
            </ul>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 445.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-15" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Puedo pedirle a mi excónyuge una compensación si con el divorcio empeora mi economía?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Sí, pero solo si lográs probar ante el juez que con el divorcio tuviste un notorio desequilibrio económico.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 441.</em>
              </span>
            </p>
            <h4 class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-16" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿De qué manera puede hacerse una compensación económica?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Puede hacerse a través de un pago único o en forma de renta según acuerden los cónyuges o decida el juez. Puede pagarse con dinero o de cualquier otra manera.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 441.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-17" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué pasa si no nos ponemos de acuerdo sobre la compensación económica?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Si no se ponen de acuerdo, la compensación la fija el juez teniendo en cuenta, entre otras cosas:</span>
            </p>
            <ul>
              <li>
                <span style="color: #000000;">El patrimonio que tenían cuando se casaron y el patrimonio que tienen al pedir el divorcio.</span>
              </li>
              <li>
                <span style="color: #000000;">La dedicación a la familia, crianza y educación de los hijos antes y después del divorcio.</span>
              </li>
              <li>
                <span style="color: #000000;">Las edades y estado de salud de cada uno de ustedes y de sus hijos.</span>
              </li>
              <li>
                <span style="color: #000000;">Quien se queda con el uso de la vivienda familiar.</span>
              </li>
              <li>
                <span style="color: #000000;">La capacidad laboral y la posibilidad de tener un empleo de quien pide la compensación.</span>
              </li>
            </ul>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 441.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-18" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Cuándo puedo pedir la compensación económica?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Tenés que pedirla antes de que pasen 6 meses de la fecha en que se dictó la sentencia de divorcio. Pasado ese tiempo ya no podés pedirla.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 442.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-19" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Qué pasa con nuestros hijos después del divorcio?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Como padres van a seguir teniendo los mismos derechos y obligaciones que tenían antes del divorcio pero pueden establecerse otras reglas teniendo en cuenta el interés de los hijos.</span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 641.</em>
              </span>
            </p>
            <p class="text-muted">
              <span style="color: #000000;">&nbsp;</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="tarjeta-20" class="panel panel-disabled">
          <div class="panel-body">
            <h4>
              <span style="color: #003366;">¿Con quién van a vivir nuestros hijos después del divorcio?</span>
            </h4>
            <p class="text-muted">
              <span style="color: #000000;">Eso lo deciden ustedes por medio de un plan de parentalidad que es un convenio que trata sobre:</span>
            </p>
            <ul>
              <li>
                <span style="color: #000000;">El lugar y el tiempo que los hijos pasan con cada uno de ustedes.</span>
              </li>
              <li>
                <span style="color: #000000;">Las responsabilidades que cada uno asume frente a los hijos (llevarlo al colegio, pagar la obra social, hacerle controles médicos, etc.)</span>
              </li>
              <li>
                <span style="color: #000000;">Cómo van a pasar las vacaciones, días feriados y otras fechas importantes.</span>
              </li>
              <li>
                <span style="color: #000000;">Cómo van a comunicarse los hijos con uno de los padres cuando están con el otro.</span>
              </li>
            </ul>
            <p class="text-muted">
              <span style="color: #000000;">
                <em>Código Civil y Comercial, artículo 655 y 656.</em>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>