<ion-view title="DNI en tu celular" id="page58">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Una manera nueva y confiable de portar tu identidad</span>
      </h4>
      <p>
        <br>El DNI en tu celular tiene las mismas funciones que el DNI tarjeta y cuenta con altos niveles de seguridad. Pueden acceder al DNI en tu celular los ciudadanos argentinos o extranjeros con residencia vigente, mayores de 14 años que tramiten un
        nuevo ejemplar de DNI.</p>
      <p>Tenerlo es opcional y no reemplaza sino que complementa al DNI tarjeta vigente. Son dos formas de portar tu identidad, vos elegís cuál presentar en tus trámites cotidianos.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué necesito para tramitarlo?</span>
      </h4>
      <p>► Teléfono celular.</p>
      <p>► Sistema operativos: Android a partir del 5.0.21; iOS 11.0 o posterior.</p>
      <p>► Acceso a Internet para descargar la aplicación&nbsp;Mi Argentina</p>
      <p>► Casilla de correo electrónico</p>
      <p>► Tener una cuenta con validación de identidad activa en la aplicación&nbsp;Mi Argentina.</p>
    </div>
    <a href-inappbrowser="https://play.google.com/store/apps/details?id=ar.gob.argentinagobar" id="dNIEnTuCelular-button388" class="button button-calm button-small icon ion-android-open"> Descargar Mi Argentina para Android</a>
    <div class="spacer" style="height: 15px;"></div>
    <a href-inappbrowser="https://apps.apple.com/ar/app/mi-argentina/id1107620792" id="dNIEnTuCelular-button407" class="button button-calm button-small icon ion-android-open"> Descargar Mi Argentina para IOS</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Cómo hago para obtenerlo?</span>
      </h4>
      <p>1. Tenés que acercarte al&nbsp;Registro Civil&nbsp;donde vas a realizar el trámite de un nuevo ejemplar de modo presencial.</p>
      <p>2. Te van a pedir una dirección de correo electrónico donde recibirás el código de activación. Es muy importante que te asegures que esté bien escrito. Si aún no tenés cuenta en&nbsp;Mi Argentina&nbsp;te llegarán dos mails. Primero deberás abrir
        el de&nbsp;Mi Argentina&nbsp;para activar y validar la cuenta, después el que contiene el código para habilitar el DNI en tu celular.</p>
      <p>3. El correo electrónico para activar el DNI en tu celular contiene el código de activación que inicia el proceso de descarga del DNI en tu aplicación de&nbsp;Mi Argentina. Recordá que este código tendrá una vigencia de 24 hs.</p>
      <p>4. Al hacer click sobre ese código desde tu celular, te redireccionará a la la aplicación&nbsp;Mi Argentina&nbsp;donde dentro de la sección Mis trámites deberás primero leer y aceptar los Términos y Condiciones para después activar el DNI en tu
        celular.</p>
      <p>5. Luego vas a ingresar a la sección Mi Billetera y hacer click en el botón DNI en tu celular. Tendrás que crear una clave numérica a través de tres preguntas de seguridad para su recuperación en caso de olvido. Esta clave la vas a utilizar para
        ingresar al DNI en tu celular cada vez que lo necesites.</p>
      <p>6. Una vez generada la clave comenzará la descarga del DNI en la aplicación&nbsp;Mi Argentina. Tené en cuenta que esta operación puede demorar unos minutos.</p>
      <p>
        <strong>¡Listo! Ya tenés el DNI en tu celular.</strong>
      </p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Cómo lo uso?</span>
      </h4>
      <p>Cada vez que necesites acreditar tu identidad podrás mostrar el DNI en tu celular desde la aplicación&nbsp;Mi Argentina.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Cuál es el costo del trámite?</span>
      </h4>
      <p>Vas a abonar solo los $300 que es el costo del DNI tarjeta, esta versión de DNI en tu celular, no tiene un valor adicional.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Para tener en cuenta</span>
      </h4>
      <p>Es muy importante que actives tu DNI en tu cuenta de&nbsp;Mi Argentina&nbsp;y que sea en el celular que usás a diario. Recordá que es un elemento de identificación personal y no se puede instalar en dos dispositivos. El código de activación es único,
        si es usado en un telefóno de otra persona se invalida automáticamente y hay que tramitar uno nuevo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/interior/dni-en-tu-celular/preguntas-frecuentes-dni-en-tu-celular" id="dNIEnTuCelular-button408" class="button button-calm button-small icon ion-android-open"> Preguntas Frecuentes</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/interior/dni-en-tu-celular/preguntas-frecuentes-para-quienes-ya-realizaron-el-tramite" id="dNIEnTuCelular-button409" class="button button-calm button-small icon ion-android-open"> ¿Ya hiciste el trámite? ¿Tenes dudas?</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>