<ion-view title="DNI para Extranjeros" id="page57">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <p>Si sos extranjero, la forma de obtener tu DNI varía en función de que tengas o no residencia en nuestro país</p>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <h4>
      <span style="color: #003366;">No tengo residencia</span>
    </h4>
    <p>► En este caso tenés que iniciar tu trámite a distancia ingresando en el sistema&nbsp;RaDEX.</p>
    <a href-inappbrowser="http://www.migraciones.gov.ar/radex/index.html" id="dNIParaExtranjeros-button387" class="button button-calm button-small icon ion-android-open">
    Sistema RaDEX</a>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>► Donde adjuntarás la documentación y datos requeridos según el tipo de radicación que solicites.</p>
      <p>► El sistema te va a solicitar el pago de las tasas, una vez abonadas se te enviará un mail a tu correo con las credenciales para seguir con el segundo paso. Culminado el mismo, te llegará por mail la cita para que concurras a la delegación correspondiente
        o bien la solicitud de documentación faltante o aclaratoria.</p>
    </div>
    <a href-inappbrowser="http://www.migraciones.gov.ar/accesible/indexdnm.php?delegaciones" id="dNIParaExtranjeros-button404" class="button button-calm button-small icon ion-android-open"> Ver todas las delegaciones</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Ya tengo residencia</span>
      </h4>
      <p>Si ya tenés residencia permanente o temporaria vigente, te corresponde tramitar el DNI en modalidad tradicional.</p>
      <p>Podés hacerlo en el Registro Civil o en las Delegaciones habilitadas de la Dirección Nacional de Migraciones.</p>
    </div>
    <a href-inappbrowser="https://www.buenosaires.gob.ar/registrocivil/sedes/registros-civiles-en-argentina" id="dNIParaExtranjeros-button406" class="button button-calm button-small icon ion-android-open"> Delegaciones del Registro Civil</a>
    <div class="spacer" style="height: 20px;"></div>
    <p>Recordá que si tu residencia temporaria vence en los próximos 60 días tenés que ir a primero a la Dirección Nacional de Migraciones.</p>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>