<ion-view title="Documentos a tener en mano" id="page40">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 id="2">
        <span style="color: #003366;">Documentos que debés tener a mano</span>
      </h4>
      <p>► DNI, LE o LC del fallecido/a, original y fotocopia.</p>
      <p>► Documento público (Libreta de matrimonio y/o Partida de nacimiento) a ser presentado por el familiar, donde se encuentre acreditado el vínculo con el fallecido.</p>
      <p>► Certificado de defunción del médico. Solicitar una copia.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-asignacion-familiar-por-nacimiento-o-adopcion" id="documentosATenerEnMano-button296" class="button button-calm button-small icon ion-android-open"> Solicitar asignación familiar</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>