<ion-view title="Documentación ciudadana" id="page31">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/ZdfZRvRrSFKGBaJ3ITcc_DocCiudadana1.png" style="display: block; width: 84%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="documentaciNCiudadana-list121">
      <ion-item class="item-avatar dark" id="documentaciNCiudadana-list-item308">
        <img src="img/3SWbbZJLT8eREAmEs88d_Documentacion01a.jpg">
        <h2dark>Tramitar el DNI
          <p style="white-space:normal;">Procedimientos para tramitar el DNI</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item310" ui-sref="guALaRioja.sacarElDNI()">
        <i class="icon ion-arrow-right-b"></i>Sacar el DNI</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item228" ui-sref="guALaRioja.dNIParaExtranjeros()">
        <i class="icon ion-arrow-right-b"></i>DNI para extranjeros</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item309" ui-sref="guALaRioja.dNIEnTuCelular()">
        <i class="icon ion-arrow-right-b"></i>DNI en tu celular</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="documentaciNCiudadana-list123">
      <ion-item class="item-avatar dark" id="documentaciNCiudadana-list-item311">
        <img src="img/C6eT2hBRAml8gejXKPhA_Documentacion02a.jpg">
        <h2dark>Tramitar el pasaporte
          <p style="white-space:normal;">Hay 3 modos de hacer el trámite, según la urgencia que tengas.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="documentaciNCiudadana-list124">
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item314" ui-sref="guALaRioja.pasaporteComN()">
        <i class="icon ion-arrow-right-b"></i>Pasaporte común</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item313" ui-sref="guALaRioja.pasaporteExprS()">
        <i class="icon ion-arrow-right-b"></i>Pasaporte exprés</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item312" ui-sref="guALaRioja.pasaporteAlInstante()">
        <i class="icon ion-arrow-right-b"></i>Pasaporte al instante</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="documentaciNCiudadana-list127">
      <ion-item class="item-avatar dark" id="documentaciNCiudadana-list-item316">
        <img src="img/gl6hyMTRQxSebjMCha7z_Documentacion03a.jpg">
        <h2dark>Identidad de género
          <p style="white-space:normal;">Información legal y guías sobre el Derecho a la identidad de género. </p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item317" ui-sref="guALaRioja.leyDeIdentidadDeGNero()">
        <i class="icon ion-arrow-right-b"></i>Ley de identidad de género</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item318" ui-sref="guALaRioja.actualizTusDocumentos()">
        <i class="icon ion-arrow-right-b"></i>Actualizá tus documentos</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item319" ui-sref="guALaRioja.denunciUnHechoDeDiscriminaciN()">
        <i class="icon ion-arrow-right-b"></i>Denunciá hechos de discriminación</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item320" ui-sref="guALaRioja.tratamientosMDicos()">
        <i class="icon ion-arrow-right-b"></i>Tratamientos médicos</ion-item>
      <ion-item class="item-icon-left dark" id="documentaciNCiudadana-list-item235" ui-sref="guALaRioja.publicacionesYCursos()">
        <i class="icon ion-arrow-right-b"></i>Publicaciones y cursos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>