<ion-view title="Embarazo" id="page30">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #000000;">¿Estás embarazada o planificás estarlo? Te ofrecemos un conjunto de consejos, beneficios y servicios que te acompañan y asisten durante este momento de tu vida.</span>
      </p>
      <p>
        <span style="color: #003366;">&nbsp;</span>
      </p>
      <h4 id="1">
        <span style="color: #003366;">Planificá tu embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">Si pensás tener un bebé, te recomendamos que lo planifiques y consultes con un profesional de la salud. Así, vas a poder prepararte de la mejor manera para la concepción y la gestación. Además, se podrán prever, y muchas veces evitar, distintos
          problemas de salud.</span>
      </p>
    </div>
    <a ui-sref="guALaRioja.planificTuEmbarazo()" id="embarazo-button144" class="button button-calm button-small icon ion-android-open"> Planificá tu embarazo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Notificá en tu trabajo:</span>
      </h4>
      <p>
        <span style="color: #000000;">Si trabajás en relación de dependencia tenés que notificar si tu licencia transcurrirá&nbsp;
          <strong>45</strong>&nbsp;días antes y&nbsp;
          <strong>45</strong>&nbsp;días después de la fecha probable de parto o bien&nbsp;
          <strong>30</strong>&nbsp;días antes y&nbsp;
          <strong>60</strong>&nbsp;días después de la fecha probable de parto.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Cuidados en el embarazo, parto y puerperio</span>
      </h4>
      <p>
        <span style="color: #000000;">Los cuidados antes y durante las 40 semanas que suele durar el embarazo previenen distintos problemas de salud que pueden tener vos o tu bebé.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo" id="embarazo-button171" class="button button-calm button-small icon-left ion-android-open"> Embarazo</a>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/parto" id="embarazo-button172" class="button button-calm button-small icon ion-android-open"> Parto</a>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/puerperio" id="embarazo-button173" class="button button-calm button-small icon ion-android-open"> Puerperio</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Vacunate</span>
      </h4>
      <p>
        <span style="color: #000000;">Si te vacunás durante el embarazo, te protegés a vos y a tu bebé. Por eso es muy importante que recibas las vacunas que corresponden a esta etapa.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/vacunas/vacunacion-embarazadas" id="embarazo-button174" class="button button-calm button-small icon-left ion-android-open"> Vacunas durante el embarazo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Hacete los controles</span>
      </h4>
      <p>
        <span style="color: #000000;">En todos los Centros de Atención Primaria de la Salud hay un equipo de salud para controlar tu embarazo (puede ser una partera, un obstetra o un médico de familia).</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo/control" id="embarazo-button175" class="button button-calm button-small icon-left ion-android-open"> El control del embarazo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 id="3">
        <span style="color: #003366;">Conocé tus derechos</span>
      </h4>
      <p>
        <span style="color: #000000;">Aquí&nbsp;podés encontrar soluciones legales para ayudarte en tu vida diaria.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4>
        <span style="color: #003366;">Estoy embarazada</span>
      </h4>
      <p>
        <span style="color: #000000;">Si estás embarazada y trabajás, conocé cuáles son tus derechos ahora y después del parto.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/embarazada" id="embarazo-button181" class="button button-calm button-small icon-left ion-android-open">Estoy embarazada</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Cuido mi embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">Si estás embarazada conocé bien los controles que tenés que hacerte, las obligaciones de tu obra social o prepaga y el tipo de parto que querés tener.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/cuidomiembarazo" id="embarazo-button182" class="button button-calm button-small icon-left ion-android-open">Cuido mi embarazo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Parto respetado</span>
      </h4>
      <p>
        <span style="color: #000000;">La&nbsp;Ley de Parto Humanizado&nbsp;promueve que se respete a la familia en sus particularidades (raza, religión, nacionalidad) y que se la acompañe en la toma de decisiones seguras e informadas.</span>
      </p>
    </div>
    <a href-inappbrowser="http://www.derechofacil.gob.ar/leysimple/parto-humanizado/" id="embarazo-button185" class="button button-calm button-small icon-left ion-android-open">Parto humanizado</a>
    <a href-inappbrowser="https://www.argentina.gob.ar/normativa/nacional/ley-25929-98805/texto" id="embarazo-button184" class="button button-calm button-small icon-left ion-android-open">Ley 25.929</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 id="4">
        <span style="color: #003366;">Asignaciones y beneficios</span>
      </h4>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Asignación por embarazo para protección social</span>
      </h4>
      <p>
        <span style="color: #000000;">Se abona desde la semana 12 de gestación hasta el nacimiento o interrupción del embarazo. Tenés que estar inscripta en el Programa SUMAR (a excepción de las trabajadoras del servicio doméstico, de temporada y las monotributistas sociales) y el
          cumplir con los controles médicos establecidos.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/anses/solicitar-aue" id="embarazo-button183" class="button button-calm button-small icon-left ion-android-open">Solicitar la asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación por maternidad / maternidad Down</span>
      </h4>
      <p>
        <span style="color: #000000;">Es el pago que abona ANSES a todas las trabajadoras durante la Licencia por Maternidad que otorga el empleador.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-asignacion-familiar-por-maternidad" id="embarazo-button186" class="button button-calm button-small icon-left ion-android-open">Tramitar la asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación prenatal</span>
      </h4>
      <p>
        <span style="color: #000000;">Es el pago mensual de un monto equivalente a la asignación por hijo. Podés solicitarla, presentando la documentación que acredite el embarazo, a partir de las 12 semanas de gestación y hasta el mes en que se produzca el nacimiento o interrupción
          del embarazo. La pueden cobrar la madre o el padre acreditando la relación de matrimonio o convivencia con la mujer embarazada.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-asignacion-familiar-por-prenatal" id="embarazo-button187" class="button button-calm button-small icon-left ion-android-open">Solicitar asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Dónde cobro en ANSES</span>
      </h4>
      <p>
        <span style="color: #000000;">Si sos beneficiaria de una asignación por embarazo, podés consultar lugar y período del próximo cobro.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-cuando-y-donde-cobro-en-anses" id="embarazo-button188" class="button button-calm button-small icon-left ion-android-open">Consultar cuándo y dónde cobro</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <h4 id="5">
        <span style="color: #003366;">Programas y planes</span>
      </h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">Programa SUMAR</span>
      </h4>
      <p>
        <span style="color: #000000;">Es un seguro de salud para personas que no tienen obra social ni prepaga. Garantiza la atención gratuita y el cuidado de la salud para mujeres embarazadas, niños/as, adolescentes, embarazadas, hombres y mujeres hasta 64 años.</span>
      </p>
    </div>
    <a href-inappbrowser="http://www.msal.gob.ar/sumar/" id="embarazo-button189" class="button button-calm button-small icon-left ion-android-open">Programa SUMAR</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Prestaciones y derechos durante el embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">Información para ciudadanos sobre derechos y prestaciones durante el embarazo y niños hasta 6 años de edad.</span>
      </p>
    </div>
    <a href-inappbrowser="http://www.msal.gob.ar/sumar/index.php/informacion-para-ciudadanos/embarazadas-y-ninos-hasta-6-anos" id="embarazo-button190" class="button button-calm button-small icon-left ion-android-open">Embarazadas y niños hasta 6 años</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>