<ion-view title="Fuentes de Información" id="page71" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/6xVo8lUQb6fJDTSbhcvM_riojaciudad.png" style="display: block; width: 53%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <hr>
      <h4>
        <span style="color: #003366;">
          <strong>La información contenida en la App RIOJA CIUDAD fue obtenida de los siguientes organismos públicos</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <strong>► Ministerio de Producción y Trabajo de la Nación</strong>
      </p>
      <p>
        <strong>► Dirección Nacional de Defensa del Consumidor de la Nación</strong>
      </p>
      <p>
        <strong>► Ministerio de Justicia y Derechos Humanos de la Nación</strong>
      </p>
      <p>
        <strong>► ANSES
          <br>
        </strong>
      </p>
      <p>
        <strong>► Ministerio de Salud y Desarrollo Social de la Nación
          <br>
        </strong>
      </p>
      <p>
        <strong>► Ministerio de Transporte de la Nación
          <br>
        </strong>
      </p>
      <p>
        <strong>► Subsecretaría de Gobierno de Cultura de la Nación</strong>
      </p>
      <p>
        <strong>► Municipalidad de la Ciudad de La Rioja</strong>
      </p>
      <hr>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>