<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="side-menu-left ">
      <div>
        <img src="img/6xVo8lUQb6fJDTSbhcvM_riojaciudad.png" style="display: block; width: 62%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="guALaRioja-list108">
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item332" ui-sref="guALaRioja.inicio()" menu-close="">
          <img src="img/ht6ajWGuSZbFyBtb7PJt_Menu10.jpg">
          <h2dark>Inicio
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item451" ui-sref="guALaRioja.informaciNMunicipal()" menu-close="">
          <img src="img/n7lJJWLShmtEcU888XDw_Menu07.jpg">
          <h2dark>Información Municipal
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item452" ui-sref="guALaRioja.reciclado()" menu-close="">
          <img src="img/Um0TYBsvT5uHRPWsPu5E_Menu08.jpg">
          <h2dark>Reciclado
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item372" ui-sref="guALaRioja.trMitesYServicios()" menu-close="">
          <img src="img/44guRmHpRqWqVjkqysiD_Menu02a.jpg">
          <h2dark>Trámites y Servicios
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item374" ui-sref="guALaRioja.consejosTiles()" menu-close="">
          <img src="img/wvzMYdtSQ6NP0EOgMjlJ_Menu03.jpg">
          <h2dark>Consejos Útiles
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item377" ui-sref="guALaRioja.feriados()" menu-close="">
          <img src="img/Yo3LzkycRJSmGsvUMWBA_Menu04.jpg">
          <h2dark>Feriados 2020
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item378" ui-sref="guALaRioja.agendaDeEventos()" menu-close="">
          <img src="img/MT4lrptgRXi7b6baA6MV_Agenda.jpg">
          <h2dark>Agenda de Eventos
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
        <ion-item class="item-avatar item-icon-right dark" id="guALaRioja-list-item379" ui-sref="guALaRioja.telFonosTiles()" menu-close="">
          <img src="img/bcpmoHERYw9RzvsG9Obw_Menu05a.jpg">
          <h2dark>Teléfonos Útiles
            <i class="icon ion-android-arrow-dropright"></i>
          </h2dark>
        </ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>