<ion-view title="Información Municipal" id="page127" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/dVQje2qKSnisAmPGhRj2_LogoMuni.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="informaciNMunicipal-list117">
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item433" ui-sref="guALaRioja.delegacionesMunicipales()">
        <img src="img/AeLk04oRR4aHBXlP5Uyq_M01.jpg">
        <h2dark>Delegaciones municipales</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item435" ui-sref="guALaRioja.guADeTrMites()">
        <img src="img/2692jKEFTzSeQCgKPKLM_M02.jpg">
        <h2dark>Guía de trámites</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item455" ui-sref="guALaRioja.recolecciNDeResiduos()">
        <img src="img/nBTGnWyJTFysLydOOinG_M07.jpg">
        <h2dark>Recolección de residuos</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item494" ui-sref="guALaRioja.reclamosYSugerencias()">
        <img src="img/6bkR1jrCQ0W0WnO4mhLR_M09.jpg">
        <h2dark>Reclamos y Sugerencias</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item456" href-inappbrowser="https://www.facebook.com/municipalidaddelarioja/posts/">
        <img src="img/Vmdih6g5SFeRMPNaD1gd_M05.jpg">
        <h2dark>Noticias</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item495" href-inappbrowser="https://www.facebook.com/CiudadTVOk/posts/">
        <img src="img/DezYQ0F1RFCMpYhbUzkg_M12.jpg">
        <h2dark>Ciudad TV</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item434" ui-sref="guALaRioja.telFonosTiles2()">
        <img src="img/tZetnI0zRqaQSKc4yGFC_M03.jpg">
        <h2dark>Teléfonos útiles</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="informaciNMunicipal-list-item436" ui-sref="guALaRioja.linksTiles()">
        <img src="img/V1S5bOoqTiCZErnAbyQ2_M04.jpg">
        <h2dark>Links útiles</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>
