<ion-view title="Iniciar trámite de jubilación" id="page43">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">&nbsp;Jubilación ordinaria</span>
      </h4>
      <p>Si reunís los requisitos de edad y de servicios con aportes exigidos, podés iniciarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-la-jubilacion-como-trabajadora-en-relacion-de-dependencia" id="iniciarTrMiteDeJubilaciN-button310" class="button button-calm button-small icon ion-android-open"> Tramitar la jubilación ordinaria</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Sacar turno en línea</span>
      </h4>
      <p>Si tenés que sacar, consultar o cancelar turnos para solicitar la jubilación o pensión u otro servicio, hacelo en línea.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-o-consultar-turnos-en-anses" id="iniciarTrMiteDeJubilaciN-button311" class="button button-calm button-small icon ion-android-open"> Solicitar turnos en ANSES</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>