<ion-view title="Jubilarte sin tener la totalidad de aportes" id="page46">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Adherir a moratorias previsionales</span>
      </h4>
      <p>Si trabajás en forma autónoma o en relación de dependencia y tenés la edad para jubilarte pero te falta completar los años de aportes, podés adherir a una moratoria que te permita completar los que te faltan.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/adherir-moratorias-previsionales" id="jubilarteSinTenerLaTotalidadDeAportes-button324" class="button button-calm button-small icon ion-android-open"> Adherir a moratorias previsionales</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>