<ion-view title="Ley de identidad de género" id="page62">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">En nuestro país, la ley ampara el reconocimiento a la identidad de género y garantiza:</span>
      </h4>
      <p>► Desarrollarte libremente como persona conforme a tu identidad de género.</p>
      <p>► Recibir un trato digno de acuerdo con dicha identidad.</p>
      <p>► Ser identificada/o con tu nombre de pila, tu propia imagen y sexo.</p>
    </div>
    <a href-inappbrowser="http://servicios.infoleg.gob.ar/infolegInternet/anexos/195000-199999/197860/norma.htm" id="leyDeIdentidadDeGNero-button399" class="button button-calm button-small icon ion-android-open"> Ley de identidad de género</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>