<ion-view title="Nacimiento de un bebé" id="page38">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Si ya fuiste mamá o estás por tener a tu bebé te ofrecemos información sobre la documentación que tenés que tramitar y los derechos y beneficios que te asisten.</p>
      <p>Cuando nace un niño su primer&nbsp;derecho&nbsp;es su identidad: su nombre, su idioma, su nacionalidad, sus orígenes.</p>
      <p>Para ello es necesario que inscribas su nacimiento y obtengas sus documentos. A la vez, estos documentos abrirán las puertas a un conjunto de beneficios que otorga el Estado al niño y sus padres.</p>
    </div>
    <a href-inappbrowser="http://www.derechofacil.gob.ar/leysimple/derechos-de-ninos-ninas-y-adolescentes/" id="nacimientoDeUnBeb-button202" class="button button-calm button-small icon ion-android-open"> Derechos de niños, niñas y adolescentes</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div id="nacimientoDeUnBeb-button-bar37" class="button-bar"></div>
    <div>
      <h4 id="1">
        <span style="color: #003366;">Documentos del bebé:</span>
      </h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">Partida de nacimiento</span>
      </h4>
      <p>La partida es la inscripción del nacimiento. Lo podés hacer en el registro civil que corresponde al lugar donde nació o te la entregan en los hospitales públicos en el momento.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Sacá el DNI para el recién nacido</span>
      </h4>
      <p>Si sos mamá, papá o tutor de un recién nacido, tenés que tramitarle su primer DNI. Para sacar el DNI, tenés que ir con el bebé para que le tomen la foto y la huella digital. Debes presentar la&nbsp;Partida de Nacimiento (No te aceptan fotocopia
        ni Certificado de Nacimiento). En caso de corresponder, tenés que adjuntar el acta del reconocimiento o adopción. Además de presentar tu DNI. Si sos el tutor legal, también tenés que llevar el original del testimonio judicial de tutela.</p>
      <p>*Tambien podes iniciar el tramite online y luego presentarte en la oficina elegida con el bebé.</p>
    </div>
    <a href-inappbrowser="http://www.mininterior.gov.ar/NuevoPasaporte/donde-tramito/donde-tramito.php" id="nacimientoDeUnBeb-button265" class="button button-calm button-small icon ion-android-open"> ¿Donde tramito el DNI ?</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://tramitesweb.mininterior.gob.ar/TramiteWebDNI/paso1.php?motivo=3" id="nacimientoDeUnBeb-button267" class="button button-calm button-small icon ion-android-open"> Tramite online del DNI</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/seguir-el-estado-de-tramite-del-dni" id="nacimientoDeUnBeb-button266" class="button button-calm button-small icon ion-android-open"> Seguir el estado de trámite del DNI</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Tramitá el pasaporte</span>
      </h4>
      <p>Si vas a viajar al extranjero con el bebé, es obligatorio tener el pasaporte al día, salvo que vayan a los países limítrofes donde solo les exigen el DNI. Podés tramitar el pasaporte junto con el DNI.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/interior/pasaporte" id="nacimientoDeUnBeb-button268" class="button button-calm button-small icon ion-android-open"> Tramitar el pasaporte</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Obtené el CUIL</span>
      </h4>
      <p>El trámite para la asignación de CUIL debe ser realizado por alguno de los padres ante la oficina de ANSES más cercana al domicilio.</p>
    </div>
    <a href-inappbrowser="https://www.anses.gob.ar/consulta/constancia-de-cuil" id="nacimientoDeUnBeb-button269" class="button button-calm button-small icon ion-android-open"> Constancia de CUIL</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 id="2">
        <span style="color: #003366;">Asignaciones y beneficios sociales</span>
      </h4>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">Solicitar licencia por maternidad</span>
      </h4>
      <p>Si trabajás en relación de dependencia o en casas particulares, podés iniciar la licencia por maternidad, que es la asignación familiar que otorga ANSES.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-asignacion-familiar-por-maternidad" id="nacimientoDeUnBeb-button270" class="button button-calm button-small icon ion-android-open"> Tramitar asignación por maternidad</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación familiar por nacimiento o adopción</span>
      </h4>
      <p>Si trabajás en relación de dependencia, podés cobrar el pago extraordinario por el nacimiento o adopción de tu hijo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-asignacion-familiar-por-nacimiento-o-adopcion" id="nacimientoDeUnBeb-button271" class="button button-calm button-small icon ion-android-open"> Solicitar asignación por nacimiento o adopción</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación Universal por Hijo para protección social</span>
      </h4>
      <p>Si vos o el padre están desocupados, trabajan en la economía informal, son monotributistas sociales, trabajadores del servicio doméstico, trabajadores por temporada o perciban planes sociales podés solicitar la asignación.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-la-asignacion-universal-por-hijo-auh" id="nacimientoDeUnBeb-button272" class="button button-calm button-small icon ion-android-open"> Tramitar la Asignación Universal por Hijo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación familiar por hijo o hijo con discapacidad</span>
      </h4>
      <p>Si trabajás en relación de dependencia y los ingresos del grupo familiar se encuentran entre los topes mínimo y máximo vigentes (tanto el individual como el del grupo familiar) podés solicitar el pago de la asignación.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-asignacion-familiar-por-hijo-o-hijo-con-discapacidad" id="nacimientoDeUnBeb-button273" class="button button-calm button-small icon ion-android-open"> Tramitar asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión no contributiva a madre de 7 o más hijos</span>
      </h4>
      <p>Está dirigida a aquellas madres de 7 o más hijos en estado de vulnerabilidad social que se encuentren sin amparo previsional, no tengan bienes, ingresos ni recursos que permitan su subsistencia y que no cuenten con parientes obligados legalmente
        a proporcionarles alimentos.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/pension-no-contributiva-para-madre-de-7-o-mas-hijos" id="nacimientoDeUnBeb-button274" class="button button-calm button-small icon ion-android-open"> Tramitar la pensión</a>
    <div class="spacer" style="height: 30px;">
      <hr>
    </div>
    <div>
      <h4 id="3">
        <span style="color: #003366;">Cuidados del bebé y la mamá</span>
      </h4>
      <p>Los cuidados del bebé y su mamá comienzan desde el embarazo. Tené presente que el momento del nacimiento y los primeros meses son de especial cuidado para ambos.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Programa SUMAR</span>
      </h4>
      <p>Es un programa nacional para personas que no tienen obra social ni prepaga. Asegura la atención gratuita y el cuidado de la salud para mujeres embarazadas, niños/as, adolescentes, embarazadas, hombres y mujeres hasta los 64 años.</p>
    </div>
    <a href-inappbrowser="http://www.msal.gob.ar/sumar/" id="nacimientoDeUnBeb-button275" class="button button-calm button-small icon ion-android-open"> Programa SUMAR</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Parto respetado</span>
      </h4>
      <p>La&nbsp;Ley&nbsp;promueve que se respete a la familia en sus particularidades –raza, religión, nacionalidad- y que se la acompañe en la toma de decisiones seguras e informadas.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/normativa/nacional/ley-25929-98805/texto" id="nacimientoDeUnBeb-button277" class="button button-calm button-small icon ion-android-open"> Ley 25929/2004</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Cuidados de la mamá post parto:</span>
      </h4>
      <p>Luego de dar a luz, en la etapa denominada “puerperio”, los cuidados y controles médicos son clave para proteger tu salud.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/puerperio" id="nacimientoDeUnBeb-button276" class="button button-calm button-small icon ion-android-open"> Puerperio</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Controles clínicos del bebé:</span>
      </h4>
      <p>Es un derecho de todos los bebés que un equipo de salud los controle periódicamente para ver si están sanos y si están creciendo bien. En el control de salud podés evacuar tus dudas y dificultades sobre la crianza, la alimentación y las vacunas.</p>
      <p>Es importante que hagas un seguimiento de la evolución de tu bebé, primero con un neonatólogo y luego con pediatra de cabecera que elijas.</p>
      <p>► A la semana de nacimiento:&nbsp;
        <strong>PRIMER control.</strong>
      </p>
      <p>► Entre el mes 1 y el 6:&nbsp;
        <strong>UN control cada mes.</strong>
      </p>
      <p>► Entre el 6 y el 12:&nbsp;
        <strong>UN control cada DOS meses.</strong>
      </p>
      <p>► Entre el año y 1 año y medio:&nbsp;
        <strong>UN control cada SEIS meses.</strong>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/primermes" id="nacimientoDeUnBeb-button278" class="button button-calm button-small icon ion-android-open"> Crecer con Salud</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Vacunas:</span>
      </h4>
      <p>Las vacunas son una de las principales medidas para prevenir enfermedades infecciosas, en especial en los bebés y niños pequeños.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/vacunas/vacunacion-lactantes" id="nacimientoDeUnBeb-button279" class="button button-calm button-small icon ion-android-open"> Vacunas hasta el año de vida</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>