<ion-view title="Niños y niñas de 1 a 5 años" id="page120">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Sección en desarrollo</span>
      </h4>
      <p>Proximamente disponible</p>
    </div>
    <a href="tel:" id="niOsYNiAsDe1A5AOs-button545" class="button button-calm button-small icon ion-android-open"> Guías y herramientas sobre diversidad</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Sección en desarrollo</span>
      </h4>
      <p>Proximamente disponible</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/cursosdiversidad" id="niOsYNiAsDe1A5AOs-button546" class="button button-calm button-small icon ion-android-open"> Cursos y capacitaciones</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>