<ion-view title="Oferta de trabajo engañosa" id="page98">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 class="text-center" style="text-align: left;">Es uno de los mecanismos más utilizados por los reclutadores.</h4>
      <p class="text-center" style="text-align: left;">El objetivo es lograr que la víctima acepte un supuesto trabajo y sea posteriormente explotada en el lugar de destino.</p>
      <p class="text-center" style="text-align: left;">&nbsp;</p>
      <h4 class="text-center" style="text-align: left;">
        <span style="color: #000000;">Falta de información</span>
      </h4>
      <p class="text-center" style="text-align: left;">En muchos casos la persona explotada no recibe ningún tipo de información sobre el tipo de trabajo a realizar, lugar o condiciones.</p>
      <h4 class="text-center" style="text-align: left;">Explotación laboral en zonas rurales</h4>
      <p class="text-center" style="text-align: left;">Las personas son contratadas en sus lugares de origen bajo promesa de alta remuneración, vivienda, traslado y alimentación pagas por el empleador.</p>
      <h4 class="text-center" style="text-align: left;">Venta ambulante, verdulerías y supermercados</h4>
      <p style="text-align: left;">Se han detectado casos de trata de personas con fines de explotación laboral en esos ámbitos.</p>
      <h4 class="text-center" style="text-align: left;">Empleos de niñeras, secretarias, masajistas, modelos</h4>
      <p class="text-center" style="text-align: left;">Encubren el fin verdadero de la captación y suelen terminar en casos de víctimas de trata con fines de explotación sexual.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>