<ion-view title="Para familiares del titular" id="page51">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Cobro de haberes de un jubilado o pensionado fallecido</span>
      </h4>
      <p>Si sos familiar de un jubilado o pensionado fallecido cobrá por los días pendientes, sumado a la proporción del aguinaldo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-el-cobro-de-haberes-de-un-jubilado-o-pensionado-fallecido" id="paraFamiliaresDelTitular-button346" class="button button-calm button-small icon ion-android-open"> Solicitar el cobro de haberes</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Subsidio de contención familiar</span>
      </h4>
      <p>Si fallece un familiar que se encontraba percibiendo o había solicitado una jubilación o pensión, podés pedir un subsidio para enfrentar los gastos de sepelio.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-el-subsidio-de-contencion-familiar" id="paraFamiliaresDelTitular-button347" class="button button-calm button-small icon ion-android-open"> Solicitar el subsidio de contención familiar</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>