<ion-view title="Pareja y familia" id="page26">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/wuKyd9bhQk65mnASW9Za_Pareja1.png" style="display: block; width: 58%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="parejaYFamilia-list56">
      <ion-item class="item-avatar dark" id="parejaYFamilia-list-item250">
        <img src="img/PMhKb4cDSBOlgpBFwDPL_Pareja01a.jpg">
        <h2dark>Estar en pareja
          <p style="white-space:normal;">Trámites y beneficios para legalizar tu relación de convivencia.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item249" ui-sref="guALaRioja.uniNCivilConvivencial()">
        <i class="icon ion-arrow-right-b"></i>Unión civil/convivencial</ion-item>
    </ion-list>
    <ion-list id="parejaYFamilia-list81">
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item244" ui-sref="guALaRioja.casarse()">
        <i class="icon ion-arrow-right-b"></i>Casarse</ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item333" ui-sref="guALaRioja.divorciarse()">
        <i class="icon ion-arrow-right-b"></i>Divorciarse</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="parejaYFamilia-list89">
      <ion-item class="item-avatar dark" id="parejaYFamilia-list-item251">
        <img src="img/oBcuKlemTYQs00TcIgfA_Pareja02a.jpg">
        <h2dark>Tener un hijo
          <p style="white-space:normal;">Informate sobre fertilización asistida, embarazo, nacimineto o adopción</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="parejaYFamilia-list90">
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item242" ui-sref="guALaRioja.embarazo()">
        <i class="icon ion-arrow-right-b"></i>Embarazo</ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item229" ui-sref="guALaRioja.reproducciNAsistida()">
        <i class="icon ion-arrow-right-b"></i>Reproducción asistida</ion-item>
    </ion-list>
    <ion-list id="parejaYFamilia-list91">
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item247" ui-sref="guALaRioja.nacimientoDeUnBeb()">
        <i class="icon ion-arrow-right-b"></i>Nacimiento de un bebé</ion-item>
    </ion-list>
    <ion-list id="parejaYFamilia-list92">
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item246" ui-sref="guALaRioja.adoptarUnNiO()">
        <i class="icon ion-arrow-right-b"></i>Adoptar un niño</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="parejaYFamilia-list39">
      <ion-item class="item-avatar dark" id="parejaYFamilia-list-item252">
        <img src="img/2SUf5dqSQTqztIUmRA1w_Pareja03a.jpg">
        <h2dark>Fallecimiento
          <p style="white-space:normal;">Información sobre las situaciones y trámites que debe afrontar la familia.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item245" ui-sref="guALaRioja.decisionesATomar()">
        <i class="icon ion-arrow-right-b"></i>Decisiones a tomar</ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item253" ui-sref="guALaRioja.documentosATenerEnMano()">
        <i class="icon ion-arrow-right-b"></i>Documentos a tener en mano</ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item254" ui-sref="guALaRioja.pasosASeguir()">
        <i class="icon ion-arrow-right-b"></i>Pasos a seguir</ion-item>
      <ion-item class="item-icon-left dark" id="parejaYFamilia-list-item255" ui-sref="guALaRioja.beneficiosQueTeCorresponden()">
        <i class="icon ion-arrow-right-b"></i>Beneficios que te corresponden</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div id="parejaYFamilia-button-bar25" class="button-bar"></div>
  </ion-content>
</ion-view>