<ion-view title="Pasaporte Exprés" id="page60">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Obtené tu pasaporte electrónico en un plazo que va de 48 horas a 96 horas hábiles después de iniciado el trámite, dependiendo del lugar del país donde vivas.</p>
      <p>Como es un trámite especial, el servicio es prepago y tiene un costo diferencial. Te lo entregan en tu domicilio dentro de las 48 hs. de la tramitación, aunque puede ser hasta 96 hs. hábiles dependiendo de la localidad.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-pasaporte-expres" id="pasaporteExprS-button390" class="button button-calm button-small icon ion-android-open"> Tramitar pasaporte exprés</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>