<ion-view title="Pasaporte Común" id="page61">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Tramitar el pasaporte</span>
      </h4>
      <p>En esta modalidad el trámite demora 15 días. Lo recibís por correo, sin pagar extra.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">¿A quién está dirigido?</span>
      </h4>
      <p>A quienes vayan a viajar al exterior y necesitan el pasaporte como requisito indispensable para salir del país.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Qué necesito?</span>
      </h4>
      <p>
        <strong>Si sos mayor de 18 años:</strong>
      </p>
      <p>► DNI (o Libreta Cívica o de Enrolamiento si tenés más de 75 años).</p>
      <p>
        <br>
        <strong>Si sos menor de 18 años:</strong>
      </p>
      <p>► DNI</p>
      <p>►Partida de Nacimiento original o copia Certificada (no se aceptan certificados ni testimonios a excepción de las provincias que solo emiten esa documentación)</p>
      <p>En caso de corresponder, tenés que adjuntar el acta de reconocimiento o adopción.</p>
      <p>Si tus padres están casados, debés concurrir acompañado por uno de ellos con su DNI y llevar la partida de matrimonio certificada. De lo contrario, debés ir acompañado por tus dos padres, cada uno con sus documentos.</p>
      <p>► Si estás a cargo de un tutor legal, te tienen que acompañar y llevar el DNI y la sentencia donde conste la tutela.</p>
      <p>►&nbsp;Si estás a cargo de un tutor legal, te tienen que acompañar y llevar el DNI y la sentencia donde conste la tutela.</p>
      <p>&nbsp;</p>
      <h4 class="m-t-0 m-b-3">
        <span style="color: #003366;">¿Cómo hago?</span>
      </h4>
      <p>► Buscá la oficina más cercana en el mapa.</p>
    </div>
    <a href-inappbrowser="http://www.mininterior.gov.ar/NuevoPasaporte/donde-tramito/donde-tramito.php" id="pasaporteComN-button398" class="button button-calm button-small icon ion-android-open"> Mapa de oficinas de trámites digitales</a>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>► Presentate en la oficina elegida con el DNI y efectuar el pago de trámite.</p>
      <p>► Guardá el comprobante que te dan en la oficina hasta que te lleven el pasaporte a tu casa.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Cuál es el costo del trámite?</span>
      </h4>
      <p>► $1500.00</p>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">Vigencia</span>
      </h4>
      <p>► 10 años desde la fecha de emisión a mayores de 18 años.</p>
      <p>► 5 años desde la fecha de emisión a menores de 18 años.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>