<ion-view title="Pasos a seguir" id="page41">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Organizá el sepelio</span>
      </h4>
      <p>► Contratá una empresa de servicios fúnebres.</p>
      <p>► Si estás viajando por otro país o sos residente, averiguá qué tenés que hacer en el&nbsp;Consulado o Embajada argentina&nbsp;de ese destino.</p>
    </div>
    <a href-inappbrowser="https://cancilleria.gob.ar/es/representaciones" id="pasosASeguir-button297" class="button button-calm button-small icon ion-android-open"> Embajadas y Consulados</a>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>► Avisá en tu trabajo y averiguá los días de licencia que te tocan como trabajador (privado o estatal).</p>
      <p>► Averiguá si el fallecido o tu familia tienen una parcela en algún cementerio (público o privado).</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Organizá los papeles</span>
      </h4>
      <p>► Clasificá los documentos. Esto te permite revisar: deudas, cuentas por cobrar, garantías hechas por el difunto (en un banco o en favor de un inquilino), ventas en vida de la persona fallecida.</p>
      <p>► Comunicate con el empleador y tramitá el cobro del seguro de vida, si corresponde.</p>
      <p>► Informá la defunción a los bancos y compañías aseguradoras para el cierre de sus cuentas, la cancelación de deudas aseguradas (tarjetas de crédito, préstamos personales, etc.) y el cambio o baja en los seguros contratados: seguro de hogar o seguro
        de vehículos.</p>
      <p>► Si ya tenés la partida de defunción podés asentar el fallecimiento en la libreta de matrimonio.&nbsp;
        <strong>Averiguá en el&nbsp;Registro&nbsp;que te corresponde cuáles son los pasos a seguir.</strong>
      </p>
    </div>
    <a href-inappbrowser="https://www.buenosaires.gob.ar/registrocivil/sedes/registros-civiles-en-argentina" id="pasosASeguir-button300" class="button button-calm button-small icon ion-android-open"> Registros Civiles en Argentina</a>
    <div class="spacer" style="height: 15px;"></div>
    <p>► Si hay bienes de por medio, iniciá la sucesión.</p>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>