<ion-view title="Pensiones especiales" id="page47">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión universal para adultos mayores</span>
      </h4>
      <p>Si tenés más de 65 años y no contás con los años de aportes requeridos, podés acceder al cobro de la pensión además de las asignaciones familiares.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-la-pension-universal-para-adulto-mayor" id="pensionesEspeciales-button329" class="button button-calm button-small icon ion-android-open"> Tramitar la pensión para adulto mayor</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión graciable - ex presos políticos</span>
      </h4>
      <p>Si podés acreditar haber estado detenido por causas políticas, gremiales y/o estudiantiles hasta el 10 de diciembre de 1983, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-la-pension-graciable-para-ex-presos-politicos" id="pensionesEspeciales-button330" class="button button-calm button-small icon ion-android-open"> Solicitar la pensión graciable</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión honorífica de veteranos de la guerra del Atlántico Sur</span>
      </h4>
      <p>Si sos ex soldado conscripto que participaste en acciones bélicas, o eras civil en funciones y sus derechohabientes, pueden solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-la-pension-honorifica-de-veteranos-de-guerra" id="pensionesEspeciales-button333" class="button button-calm button-small icon ion-android-open"> Obtener la pensión honorífica </a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>