<ion-view title="Personas con Discapacidad" id="page33">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/3rUgcfcSvWWu8Qbv6Zu9_Personas1.png" style="display: block; width: 76%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="personasConDiscapacidad-list135">
      <ion-item class="item-avatar dark" id="personasConDiscapacidad-list-item381">
        <img src="img/sEcQYhyRWKyNu6CIoK3j_Personas01.jpg">
        <h2dark>Agencia Nacional de Discapacidad
          <p style="white-space:normal;">Políticas y acciones del Estado en materia de discapacidad</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item335" ui-sref="guALaRioja.certificadoNicoDeDiscapacidad()">
        <i class="icon ion-arrow-right-b"></i>Certificado Único de Discapacidad </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="personasConDiscapacidad-list107">
      <ion-item class="item-avatar dark" id="personasConDiscapacidad-list-item334">
        <img src="img/sEcQYhyRWKyNu6CIoK3j_Personas01.jpg">
        <h2dark>Asignaciones
          <p style="white-space:normal;">Asignación por Trasplante, CMO Digital y Pensión No Contributiva</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item260" ui-sref="pensiNNoContributivaPorInvalidez()">
        <i class="icon ion-arrow-right-b"></i>Pensión no contributiva por invalidez</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item383" ui-sref="guALaRioja.certificadoMDicoOficialCMO()">
        <i class="icon ion-arrow-right-b"></i>Certificado Médico Oficial - CMO</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item261" ui-sref="asignaciNParaPersonasTrasplantadas()">
        <i class="icon ion-arrow-right-b"></i>Asignación para personas trasplantadas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="personasConDiscapacidad-list112">
      <ion-item class="item-avatar dark" id="personasConDiscapacidad-list-item382">
        <img src="img/sEcQYhyRWKyNu6CIoK3j_Personas01.jpg">
        <h2dark>Programa Federal Incluir Salud
          <p style="white-space:normal;">Brinda cobertura médico-asistencial</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item262" ui-sref="programaFederalIncluirSalud()">
        <i class="icon ion-arrow-right-b"></i>Programa Federal Incluir Salud</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="personasConDiscapacidad-list137">
      <ion-item class="item-avatar dark" id="personasConDiscapacidad-list-item337">
        <img src="img/nDOebzAdRyGn9iIv7o5F_Personas02.jpg">
        <h2dark>Franquicia y Certificado
          <p style="white-space:normal;">Franquicia y Certificado de Libre Disponibilidad</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="personasConDiscapacidad-list138">
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item338" ui-sref="guALaRioja.compraDeVehCulosParticulares()">
        <i class="icon ion-arrow-right-b"></i>Compra de vehículos particulares</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item339" ui-sref="guALaRioja.compraDeVehCulosParaInstituciones()">
        <i class="icon ion-arrow-right-b"></i>Compra de vehículos para Instituciones</ion-item>
    </ion-list>
    <ion-list id="personasConDiscapacidad-list139">
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item340" ui-sref="guALaRioja.libreDisponibilidadParaPersonas()">
        <i class="icon ion-arrow-right-b"></i>Libre Disponibilidad para personas </ion-item>
    </ion-list>
    <ion-list id="personasConDiscapacidad-list140">
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item341" ui-sref="guALaRioja.libreDisponibilidadParaInstituciones()">
        <i class="icon ion-arrow-right-b"></i>Libre Disponibilidad para instituciones </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="personasConDiscapacidad-list141">
      <ion-item class="item-avatar dark" id="personasConDiscapacidad-list-item342">
        <img src="img/68gQUCMHSuiwmcPShSEX_Personas03.jpg">
        <h2dark>Símbolo Automotor
          <p style="white-space:normal;">Si tenés un certificado de discapacidad podés tramitar tu símbolo</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item343" ui-sref="guALaRioja.sMboloInternacionalDeAcceso()">
        <i class="icon ion-arrow-right-b"></i>Símbolo internacional de acceso</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item344" ui-sref="guALaRioja.sMboloIdentificatorioDelAutomotor()">
        <i class="icon ion-arrow-right-b"></i>Símbolo identificatorio del automotor</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item345" ui-sref="guALaRioja.sMboloConFranquiciaImpositiva()">
        <i class="icon ion-arrow-right-b"></i>Símbolo con franquicia impositiva</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item346" ui-sref="guALaRioja.sMboloParaElExteriorDelPaS()">
        <i class="icon ion-arrow-right-b"></i>Símbolo para el exterior del país</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item264" ui-sref="guALaRioja.sMboloParaVehCuloInstitucional()">
        <i class="icon ion-arrow-right-b"></i>Símbolo para vehículo institucional</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item265" ui-sref="guALaRioja.vehCuloInstitucionalConFranquicia()">
        <i class="icon ion-arrow-right-b"></i>Vehículo institucional con franquicia</ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item266" ui-sref="guALaRioja.cuadernilloParaElUsoDelSMbolo()">
        <i class="icon ion-arrow-right-b"></i>Cuadernillo para el uso del Símbolo</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="personasConDiscapacidad-list93">
      <ion-item class="item-avatar dark" id="personasConDiscapacidad-list-item267">
        <img src="img/1Tzh9MyS7cLvFfF72fSQ_Personas04.jpg">
        <h2dark>Subsidio por sepelio
          <p style="white-space:normal;">Subsidio por sepelio de beneficiarios de pensiones no contributivas</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="personasConDiscapacidad-list-item220" ui-sref="guALaRioja.cMoObtenerElSubsidioPorSepelio()">
        <i class="icon ion-arrow-right-b"></i>Cómo obtener el subsidio por sepelio</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>