<ion-view title="Planificá tu embarazo" id="page36">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">El control del embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">En todos los&nbsp;
          <strong>Centros de Atención Primaria de la Salud</strong>&nbsp;hay un equipo de salud para controlar tu embarazo (puede ser una obstétrica, un médico obstetra, o un médico de familia).</span>
      </p>
      <p>
        <span style="color: #000000;">Si presentás algún&nbsp;
          <strong>factor de riesgo</strong>, te indicarán que vayas a un consultorio especializado, por lo general en un centro más grande o en un hospital.</span>
      </p>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">Carné perinatal</span>
      </h4>
      <p>
        <span style="color: #000000;">Al comenzar las consultas, se te entregará un carné de control perinatal o libreta sanitaria. Es importante que lo lleves a todos los controles para que anoten allí los datos de cada visita, y también que lo tengas a mano cuando llegue el momento
          de internarte.</span>
      </p>
      <p>&nbsp;</p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">¿Qué sucede en cada control del embarazo?</span>
      </h4>
      <p>
        <span style="color: #000000;">Los controles del embarazo son diferentes en cada etapa. Toda visita al médico es una buena oportunidad para hacer preguntas y despejar todas las dudas.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo/cadacontrol/antessemana20" id="planificTuEmbarazo-button166" class="button button-calm button-small icon ion-android-open"> Control antes de la semana 20 (4° mes)</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo/cadacontrol/semanas20a26" id="planificTuEmbarazo-button177" class="button button-calm button-small icon ion-android-open"> Control entre las semanas 20 y 26 (4° al 5° mes)</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo/cadacontrol/semanas27a29" id="planificTuEmbarazo-button176" class="button button-calm button-small icon ion-android-open"> Control entre las semanas 27 y 29 (6° al 7° mes)</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo/cadacontrol/semanas33a35" id="planificTuEmbarazo-button131" class="button button-calm button-small icon ion-android-open"> Control entre las semanas 33 y 35 (8° mes)</a>
    <div class="spacer" style="height: 5px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/crecerconsalud/embarazo-parto-puerperio/embarazo/cadacontrol/semanas38a40" id="planificTuEmbarazo-button178" class="button button-calm button-small icon ion-android-open"> Control entre las semanas 38 y 40 (9° mes)</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Vacunas que no te pueden faltar</span>
      </h4>
      <p>
        <span style="color: #000000;">Si te vacunás durante el embarazo, te protegés a vos y a tu bebé. Por eso es muy importante que recibas las vacunas que corresponden a esta etapa:</span>
      </p>
      <h4>
        <span style="color: #003366;">Vacuna triple bacteriana acelular</span>
      </h4>
      <p>
        <span style="color: #000000;">Te tenés que aplicar una dosis luego de la semana 20 de gestación para proteger al bebé. Esta vacuna protege contra la difteria, tétanos y tos convulsa.</span>
      </p>
      <h4>
        <span style="color: #003366;">Hepatitis B</span>
      </h4>
      <p>
        <span style="color: #000000;">En esta etapa podés iniciar o completar el esquema (son 3 dosis).</span>
      </p>
      <h4>
        <span style="color: #003366;">Vacuna contra la gripe</span>
      </h4>
      <p>
        <span style="color: #000000;">La dosis anual se puede aplicar en cualquier trimestre del embarazo.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">
          <em>Podés aplicarte las vacunas incluidas en el Calendario Nacional de Vacunación en todos los vacunatorios y centros de salud del país de forma gratuita.</em>
        </span>
      </p>
    </div>
    <a href-inappbrowser="http://www.msal.gob.ar/images/stories/ryc/graficos/0000001210cnt-2018-10_calendario-nacional-vacunacion.pdf" id="planificTuEmbarazo-button179" class="button button-calm button-small icon ion-android-open"> Calendario Nacional de Vacunación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Alimentación durante el embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">A lo largo del embarazo, tu bebé crece y se desarrolla; por eso&nbsp;
          <strong>es importante que te alimentes bien</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">Siguiendo una&nbsp;
          <strong>dieta saludable</strong>&nbsp;incorporarás los&nbsp;
          <strong>nutrientes</strong>&nbsp;necesarios para&nbsp;
          <strong>que tu bebé sea fuerte y sano</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">Algunos de esos nutrientes son las vitaminas, los minerales, las proteínas y las grasas. Cada uno de ellos tiene una función especial relacionada con el crecimiento y desarrollo del bebé.</span>
      </p>
      <p>
        <span style="color: #000000;">Por ejemplo: algunos ayudan a formar los músculos, otros los huesos, otros el sistema nervioso, otros transportan el oxígeno.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Tratá de comer un poco de carne todos los días</strong>: podés consumir carne vacuna, vísceras, aves, pescados, cerdo y otras carnes, ya que contienen hierro en una forma que el organismo lo aprovecha muy bien.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Consumí diariamente</strong>&nbsp;cereales y legumbres (pastas, arroz, maíz, avena, porotos, garbanzos, lentejas, soja y arvejas secas): elegí los cereales integrales que tienen más nutrientes y fibra y moderá el consumo de facturas, tortas,
          galletitas y otros productos similares porque contienen muchas grasas, azúcares y sal.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Consumí todos los días</strong>&nbsp;frutas y verduras: elegilas de diferentes colores para recibir una mayor variedad de vitaminas y minerales. Optá por las de estación que son más económicas y sabrosas.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Incorporá todos los días</strong>&nbsp;leche o productos lácteos: aportan calcio, proteínas de muy buena calidad y vitamina A.</span>
      </p>
      <p>
        <span style="color: #000000;">Y no te olvides de:</span>
      </p>
      <p>
        <span style="color: #000000;">► Tomar abundante agua (entre 2 y 3 litros por día).</span>
      </p>
      <p>
        <span style="color: #000000;">► Preparar las comidas con aceite en crudo.</span>
      </p>
      <p>
        <span style="color: #000000;">► Hacer 4 comidas por día (desayuno, almuerzo, merienda y cena).</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Actividad física durante el embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">El ejercicio físico durante el embarazo contribuye a tu salud y a tu bienestar físico y psicológico.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Favorece</strong>&nbsp;a mejorar tu estado físico general.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Te ayuda</strong>&nbsp;a prevenir el sobrepeso y el estreñimiento.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Disminuye</strong>&nbsp;tensiones y te ayuda a relajarte.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Reduce</strong>&nbsp;las probabilidades de padecer depresión e insomnio.</span>
      </p>
      <p>
        <span style="color: #000000;">Las&nbsp;
          <strong>actividades recomendadas</strong>&nbsp;son las caminatas no extenuantes y los ejercicios que fortalecen algunos músculos y activan la circulación venosa.</span>
      </p>
      <p>
        <span style="color: #000000;">En especial, se sugieren los que fortalecen la musculatura de la pelvis y la zona lumbar (consultá al respecto con tu equipo de salud).</span>
      </p>
      <p>
        <span style="color: #000000;">
          <em>Siempre que realices actividad física, recordá hidratarte muy bien, preferentemente con agua segura. No hagas grandes esfuerzos físicos, ni actividades con peligro de caídas o golpes importantes.</em>
        </span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">La importancia del lavado de manos</span>
      </h4>
      <p>
        <span style="color: #000000;">El&nbsp;
          <strong>lavado de manos con jabón</strong>&nbsp;es una de las maneras más efectivas y sencillas de&nbsp;
          <strong>prevenir enfermedades</strong>&nbsp;diarreicas y respiratorias.</span>
      </p>
      <p>
        <span style="color: #000000;">Para que el lavado sea realmente efectivo,&nbsp;
          <strong>siempre debés utilizar jabón</strong>. Si los usás adecuadamente, todos los jabones son igualmente efectivos para remover los gérmenes que causan enfermedades.</span>
      </p>
      <p>
        <span style="color: #000000;">Si no contás con jabón, podés reemplazarlo eventualmente con alcohol en gel.</span>
      </p>
      <p>
        <span style="color: #000000;">Es importante que te laves las manos:</span>
      </p>
      <p>
        <span style="color: #000000;">► Antes y después de manipular alimentos o amamantar.</span>
      </p>
      <p>
        <span style="color: #000000;">► Antes de comer o beber y después de manipular basura o desperdicios.</span>
      </p>
      <p>
        <span style="color: #000000;">► Después de tocar alimentos crudos y antes de tocar alimentos cocidos.</span>
      </p>
      <p>
        <span style="color: #000000;">► Después de ir al baño, sonarse la nariz, toser o estornudar y luego de cambiarle los pañales al bebé.</span>
      </p>
      <p>
        <span style="color: #000000;">► Luego de haber tocado objetos “sucios”, como dinero, llaves, pasamanos, etc.</span>
      </p>
      <p>
        <span style="color: #000000;">► Cuando llegás a la casa de la calle, el trabajo, la escuela.</span>
      </p>
      <p>
        <span style="color: #000000;">► Después de haber estado en contacto con animales.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Hipertensión y embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">En cada control,&nbsp;
          <strong>tu médico va a medir tu tensión arterial</strong>&nbsp;para evitar y prevenir las complicaciones que puede generar la hipertensión.</span>
      </p>
      <p>
        <span style="color: #000000;">Muchos casos son leves, pero&nbsp;
          <strong>otros pueden ser muy severos</strong>&nbsp;y llegar a tener un gran impacto en tu salud y en la de tu bebé.</span>
      </p>
      <p>
        <span style="color: #000000;">Una de las complicaciones más graves relacionadas con la hipertensión en el embarazo es la&nbsp;
          <strong>preeclampsia</strong>, que puede presentarse a partir de la mitad del embarazo (semana 20) hasta el posparto, por lo que debe diagnosticarse y tratarse rápidamente, ya que&nbsp;
          <strong>en casos severos puede poner en peligro tu vida y la de tu bebé</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">Por eso&nbsp;
          <strong>tenés que estar atenta a los siguientes síntomas</strong>, que pueden presentarse en forma aislada o asociados:</span>
      </p>
      <p>
        <span style="color: #000000;">► Presión arterial igual o mayor a 140/90 mm Hg.</span>
      </p>
      <p>
        <span style="color: #000000;">► Hinchazón (edema) importante en ambos pies y tobillos.</span>
      </p>
      <p>
        <span style="color: #000000;">► Visión borrosa o nublada, visión de puntos negros (como “mosquitas volando”).</span>
      </p>
      <p>
        <span style="color: #000000;">► Dolor de cabeza intenso.</span>
      </p>
      <p>
        <span style="color: #000000;">► Náuseas o vómitos persistentes.</span>
      </p>
      <p>
        <span style="color: #000000;">► Disminución o ausencia de movimientos del bebé.</span>
      </p>
      <p>
        <span style="color: #000000;">► Dolor en el abdomen superior derecho o dolor o ardor en la boca del estómago.</span>
      </p>
      <p>
        <span style="color: #000000;">► Fotofobia (intolerancia a la luz).</span>
      </p>
      <p>
        <span style="color: #000000;">► Exagerada tendencia al sueño (somnolencia).</span>
      </p>
      <p>
        <span style="color: #000000;">► Contracciones dolorosas y en las que no se relaja el abdomen.</span>
      </p>
      <p>
        <span style="color: #000000;">► Pérdidas de sangre.</span>
      </p>
      <p>
        <span style="color: #000000;">En el caso de presentar cualquiera de estas manifestaciones,&nbsp;
          <strong>concurrí de urgencia al centro de salud u hospital más cercano</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <em>El control prenatal periódico y oportuno permite detectar la hipertensión en forma precoz y realizar tratamiento médico en los casos que lo requieran. De esta forma, las complicaciones severas (como la eclampsia) muchas veces pueden ser anticipadas
            y tratadas.</em>
        </span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Tabaco y embarazo</span>
      </h4>
      <p>
        <span style="color: #000000;">El embarazo es&nbsp;
          <strong>una excelente ocasión para que dejes de fumar, tanto por tu salud como por la de tu hijo</strong>, ya que de esa manera:</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Reducís</strong>&nbsp;las probabilidades de que surjan complicaciones que puedan derivar en un aborto o un parto prematuro.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Protegés</strong>&nbsp;a tu bebé de sustancias químicas que pueden dañar su crecimiento.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Disminuís</strong>&nbsp;las probabilidades de que tu bebé nazca con bajo peso.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Producís</strong>&nbsp;más leche para amamantarlo y va a estar libre de las sustancias tóxicas del humo que dañan la salud de tu bebé.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Reducís</strong>&nbsp;el riesgo de que tu hijo sufra asma, problemas respiratorios o muerte súbita.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>► Contribuís</strong>&nbsp;a que el tabaquismo no sea considerado algo normal en tu casa, aumentando las posibilidades de que tu hijo no fume cuando sea grande.</span>
      </p>
      <p>
        <span style="color: #000000;">Si dejaste de fumar durante el embarazo y la lactancia,&nbsp;
          <strong>no vuelvas a fumar</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">El principal fumador pasivo de una madre fumadora es su propio hijo. Además, es importante que no se fume a tu alrededor.</span>
      </p>
      <p>
        <span style="color: #000000;">Comunicalo a los que te rodean para que puedan ayudarte a&nbsp;
          <strong>mantener los ambientes libres de humo</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">¿Se pueden mantener relaciones sexuales durante el embarazo?</span>
      </h4>
      <p>
        <span style="color: #000000;">Mientras estás embarazada,&nbsp;
          <strong>podés seguir manteniendo relaciones sexuales</strong>cuando lo desees,&nbsp;
          <strong>salvo que el médico te haya dicho expresamente que no</strong>&nbsp;por alguna razón.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>Si te provocan dolor, flujo o pérdidas</strong>, suspendelas y consultá sin demora al equipo de salud.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>Utilizá preservativo en todas las relaciones sexuales</strong>&nbsp;para prevenir el VIH/sida y otras infecciones de transmisión sexual. También es muy importante para&nbsp;
          <strong>prevenir el zika</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">El zika es una enfermedad que se transmite por la picadura del mosquito Aedes aegypti y también por relaciones sexuales. Puede ocasionar anomalías congénitas en los recién nacidos y complicaciones neurológicas.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/glosario/zika" id="planificTuEmbarazo-button180" class="button button-calm button-small icon ion-android-open"> ¿Qué es el zika?</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Transmisión de infecciones y enfermedades de madre a hijo</span>
      </h4>
      <p>
        <span style="color: #000000;">Se denomina&nbsp;
          <strong>“transmisión vertical”</strong>&nbsp;a la transmisión de una infección u otra enfermedad de la madre a su hijo antes o inmediatamente después del parto.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>Hay varias enfermedades que pueden transmitirse de esta manera</strong>: el VIH/sida, el zika, la sífilis, la toxoplasmosis, la enfermedad de Chagas, las hepatitis B y C, el citomegalovirus y otras.</span>
      </p>
      <p>
        <span style="color: #000000;">Para algunas de ellas, te harán estudios de rutina. En el caso del VIH/sida, tendrás que firmar antes un consentimiento informado y únicamente vos podrás retirar el resultado ya que es confidencial.</span>
      </p>
      <p>
        <span style="color: #000000;">Con una&nbsp;
          <strong>detección temprana</strong>&nbsp;de estas infecciones, es posible evitar la transmisión al bebé.</span>
      </p>
      <p>
        <span style="color: #000000;">Para prevenir el riesgo de transmisión de estas enfermedades,&nbsp;
          <strong>usá preservativo en todas las relaciones sexuales</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Prestá atención a estas señales de alerta</span>
      </h4>
      <p>
        <span style="color: #000000;">► Pérdida de sangre o líquido por la vagina.</span>
      </p>
      <p>
        <span style="color: #000000;">► Mareos o dolor de cabeza persistentes.</span>
      </p>
      <p>
        <span style="color: #000000;">► Vientre duro y con dolor.</span>
      </p>
      <p>
        <span style="color: #000000;">► Hinchazón de una o ambas piernas por encima de los tobillos.</span>
      </p>
      <p>
        <span style="color: #000000;">► Fiebre alta (más de 38°C).</span>
      </p>
      <p>
        <span style="color: #000000;">► Vómitos persistentes.</span>
      </p>
      <p>
        <span style="color: #000000;">► Tristeza profunda y permanente, o ideas de muerte.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <em>Si aparece alguno de estos síntomas (o si sufriste un golpe o caída), es importante que hagas una consulta lo antes posible en el centro de salud u hospital más cercano</em>
        </span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">¿Se puede prevenir el nacimiento prematuro?</span>
      </h4>
      <p>
        <span style="color: #000000;">Por lo general, un bebé nace después de 37 semanas de gestación. Si nace antes, se dice que es prematuro.</span>
      </p>
      <p>
        <span style="color: #000000;">Eso significa que&nbsp;
          <strong>muchos de sus órganos y sistemas no están totalmente maduros</strong>. Por eso debe quedarse un tiempo en el Servicio de Neonatología.</span>
      </p>
      <p>
        <span style="color: #000000;">Algunos partos prematuros se presentan en forma espontánea y otros ocurren por decisión médica, debido a los riesgos del bebé o de la mamá.</span>
      </p>
      <p>
        <span style="color: #000000;">Otras veces la prematurez se puede predecir. Por ejemplo:&nbsp;
          <strong>si una mujer ya tuvo un niño prematuro, tiene tres veces más probabilidades de tener otro</strong>&nbsp;en las mismas condiciones.</span>
      </p>
      <p>
        <span style="color: #000000;">Si el médico o la obstétrica consideran que el nacimiento se producirá antes de tiempo, derivarán a la mujer a una maternidad capaz de ofrecer los cuidados complejos que todo prematuro necesita.</span>
      </p>
      <p>
        <span style="color: #000000;">Tené en cuenta que, si te derivan a una maternidad que no queda cerca de tu casa, eso se hace porque vos o tu bebé necesitan el tipo de atención que se brinda allí.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>La mejor derivación para un bebé prematuro, la más segura, es siempre la que se hace antes de nacer</strong>, cuando todavía está dentro de la panza de su mamá.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">
          <em>Una forma de&nbsp;
            <strong>prevenir la prematurez</strong>&nbsp;es&nbsp;
            <strong>evitar algunas prácticas que la favorecen</strong>&nbsp;(como, por ejemplo, dejar de fumar, de consumir drogas o alcohol, entre otras).</em>
        </span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4 class="activities-sidbar">
        <span style="color: #003366;">Curso de preparación para la maternidad</span>
      </h4>
      <p>
        <span style="color: #000000;">El curso está dirigido tanto a vos como a tu pareja o la persona que elijas y que, probablemente, te acompañará en el parto.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <strong>Dentro del sector público, es gratuito</strong>. Averiguá con el equipo de salud dónde podés hacerlo.</span>
      </p>
      <p>
        <span style="color: #000000;">El propósito de estos cursos es apoyarte, acompañarte y contribuir a que vos y tu familia tengan&nbsp;
          <strong>la mejor experiencia posible de la maternidad</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">Te permite conocer las etapas del parto para que puedas reducir tus temores y “trabajar en equipo” con el personal de salud que te atiende.</span>
      </p>
      <p>
        <span style="color: #000000;">También es un espacio donde podés compartir con otras embarazadas y sus familias y resolver tus dudas e inquietudes, en un clima de confianza.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>