<ion-view title="Presentá tu reclamo" id="page75">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Ventanilla Única Federal de Defensa del Consumidor</span>
      </h4>
      <p>Si compraste o contrataste un bien o un servicio, y la empresa proveedora no cumplió con el compromiso asumido, podés hacer el reclamo por Internet a través de la&nbsp;
        <strong>Ventanilla Única Federal de Defensa del Consumidor</strong>, que designará el método más apropiado para dar resolución al conflicto (jurisdicciones provinciales, Sistema Nacional de Arbitraje de Consumo o Consumo Protegido).</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/iniciar-un-reclamo-ante-defensa-del-consumidor" id="presentTuReclamo-button447" class="button button-calm button-small icon ion-android-open"> Defensa del Consumidor</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Hacé el seguimiento de tu reclamo</span>
      </h4>
      <p>Si iniciaste el trámite ante Defensa del Consumidor, podés hacer el seguimiento en línea a través de un formulario habilitado. Te van a pedir tu número de documento y el número con que quedó registrada tu consulta.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/defensadelconsumidor/hacer-el-seguimiento-de-un-reclamo" id="presentTuReclamo-button462" class="button button-calm button-small icon ion-android-open"> Seguí tu reclamo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <h4>
      <span style="color: #003366;">En La Rioja la oficina provincial de Defensa del Consumidor funciona en la Dirección General de Comercio interior</span>
    </h4>
    <div class="spacer" style="height: 12px;"></div>
    <h4>
      <span style="color: #000000;">Ubicación</span>
    </h4>
    <ion-list id="presentTuReclamo-list110">
      <ion-item class="item-icon-left calm" id="presentTuReclamo-list-item380" href-inappbrowser="https://www.google.com/maps/place/DIRECCION+GENERAL+DE+COMERCIO+INTERIOR/@-29.4126356,-66.8596526,15z/data=!4m5!3m4!1s0x0:0x165eaf1e12d7228c!8m2!3d-29.4126356!4d-66.8596526">
        <i class="icon ion-location"></i>Pelagio Luna 816</ion-item>
    </ion-list>
    <div class="spacer" style="height: 12px;"></div>
    <h4>
      <span style="color: #000000;">Telelefonos</span>
    </h4>
    <ion-list id="presentTuReclamo-list99">
      <ion-item class="item-icon-left calm" href-inappbrowser="tel:03804453071">
        <i class="icon ion-ios-telephone"></i>0380-4453071</ion-item>
      <ion-item class="item-icon-left calm" href-inappbrowser="tel:03804453052">
        <i class="icon ion-ios-telephone"></i>0380-4453052</ion-item>
      <ion-item class="item-icon-left calm" href-inappbrowser="tel:03804453053">
        <i class="icon ion-ios-telephone"></i>0380-4453053</ion-item>
    </ion-list>
    <div class="spacer" style="height: 12px;"></div>
    <h4>
      <span style="color: #000000;">Correo Electrónico</span>
    </h4>
    <ion-list id="presentTuReclamo-list109">
      <ion-item class="item-icon-left calm" href-inappbrowser="mailto:consumolarioja@hotmail.com">
        <i class="icon ion-email"></i>consumolarioja@hotmail.com</ion-item>
      <ion-item class="item-icon-left calm" href-inappbrowser="mailto:consumolarioja@hotmail.com">
        <i class="icon ion-email"></i>dgci@larioja.gov.ar</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitá un arbitraje de consumo</span>
      </h4>
      <p>Se trata de un procedimiento alternativo de resolución de conflictos, voluntario y gratuito, que puede ser solicitado exclusivamente por vos como consumidor, para llegar a un acuerdo con la empresa a la que le reclamás por incumplimiento.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/produccion/consumidor/sistema-nacional-de-arbitraje-de-consumo" id="presentTuReclamo-button463" class="button button-calm button-small icon ion-android-open"> Sistema de Arbitraje de Consumo</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>