<ion-view title="Prevención de accidentes" id="page133">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Sección en desarrollo</span>
      </h4>
      <p>Proximamente disponible</p>
    </div>
    <a href="tel:" id="prevenciNDeAccidentes-button565" class="button button-calm button-small icon ion-android-open"> Guías y herramientas sobre diversidad</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Sección en desarrollo</span>
      </h4>
      <p>Proximamente disponible</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/cursosdiversidad" id="prevenciNDeAccidentes-button566" class="button button-calm button-small icon ion-android-open"> Cursos y capacitaciones</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>