<ion-view title="Publicaciones y cursos" id="page66">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Publicaciones sobre diversidad sexual</span>
      </h4>
      <p>Recursos y documentos que permiten difundir y acercar información sobre diversidad sexual, y concientizar e informar acerca de los derechos de la población LGBTIQ y su aplicación.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/publicacionesdiversidad" id="publicacionesYCursos-button403" class="button button-calm button-small icon ion-android-open"> Guías y herramientas sobre diversidad</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Centro de Documentación del INADI</span>
      </h4>
      <p>Contiene libros, volantes, banners, material de prensa, etc.</p>
    </div>
    <a href-inappbrowser="http://inadi.gob.ar/contenidos-digitales/" id="publicacionesYCursos-button418" class="button button-calm button-small icon ion-android-open"> Contenidos Digitales</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Servicio de información ciudadana de la CONABIP</span>
      </h4>
      <p>Te brinda información acerca de tus derechos, vías de contacto para hacer reclamos cuando tus derechos son vulnerados y material de difusión para descargar.</p>
    </div>
    <a href-inappbrowser="http://www.conabip.gob.ar/servicios/sic#overlay-context=" id="publicacionesYCursos-button419" class="button button-calm button-small icon ion-android-open"> Servicio de Información Ciudadana</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Cursos y capacitaciones sobre diversidad sexual y derechos humanos</span>
      </h4>
      <p>Formación en la temática, a través del conocimiento y las herramientas para aprender y reflexionar sobre diversidad sexual en el ámbito social, cultural, educativo y laboral, entre otros.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/derechoshumanos/promocion/cursosdiversidad" id="publicacionesYCursos-button420" class="button button-calm button-small icon ion-android-open"> Cursos y capacitaciones</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>