<ion-view title="¿Qué es la Trata de Personas?" id="page97">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Es el proceso que implica el ofrecimiento, la captación, el traslado, la recepción o acogida de personas con fines de explotación, ya sea dentro del territorio nacional como desde o hacia otros países.</p>
      <p>La&nbsp;Ley 26842&nbsp;establece que el consentimiento dado por la víctima de trata no implica que se le quite la responsabilidad penal, civil o administrativa a los autores, partícipes cooperadores o instigadores de este delito.</p>
    </div>
    <a href-inappbrowser="http://servicios.infoleg.gob.ar/infolegInternet/anexos/205000-209999/206554/norma.htm" id="QuEsLaTrataDePersonas-button501" class="button button-calm button-small icon ion-android-open"> Ley 26842</a>
    <div class="spacer" style="height: 20px;"></div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/-WcIT82-qKs?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="QuEsLaTrataDePersonas-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 class="padding-60">
        <span style="color: #003366;">Todos podemos hacer algo para poner fin a la trata de personas.</span>
      </h4>
      <p>Es importante estar alerta a las señales para prevenir y denunciar. Ante cualquier situación que genere dudas la denuncia es fundamental. Incluso en los casos de desaparición, la denuncia podés hacerla de forma inmediata y en ningún caso se debe
        esperar que transcurran 48 horas desde la desaparición.</p>
      <h4 class="padding-60 margin-40">&nbsp;</h4>
      <h4 class="padding-60 margin-40">
        <span style="color: #003366;">Situaciones donde pueden darse casos de Trata:</span>
      </h4>
      <p>► Ofertas de empleo que no detallan quién es el empleador, el nombre de la empresa, dónde será la entrevista ni hay datos explicitados.</p>
      <div class="margin-60">
        <div class="media">
          <div class="media-body">
            <p class="lead">► Ofertas de traslado a otra ciudad de manera “gratuita” a partir de una oferta laboral prometedora.</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">► Ante una situación de vulnerabilidad de una persona que se encuentra alejada de su hogar, aparece un “salvador” que promete solucionarle todos sus problemas.</div>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>