<ion-view title="¿Qué puedo exigir como consumidor?" id="page68">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 id="2">
        <span style="color: #003366;">¿Qué puedo exigir como consumidor?</span>
      </h4>
      <p>► Información clara y gratuita sobre el producto o servicio que voy a comprar o contratar, el precio, la forma de pago y las condiciones de salubridad.</p>
      <p>► Garantía por&nbsp;
        <strong>6 meses para artículos nuevos</strong>&nbsp;y por&nbsp;
        <strong>3 meses para usados</strong>, en electrodomésticos y artículos que no se consumen (alfombras, colchones, etc.).</p>
      <p>► Devolución o descuento (en la próxima factura) por&nbsp;
        <strong>servicios públicos no brindados</strong>&nbsp;por la empresa prestadora, durante el tiempo de interrupción.</p>
      <p>► Redondeo del&nbsp;
        <strong>vuelto a mi favor</strong>, si la diferencia es menor a 5 centavos.</p>
      <p>► Rescisión del servicio&nbsp;
        <strong>sin pagar preaviso</strong>, mes adelantado o cualquier otro concepto.</p>
      <p>► Condiciones de&nbsp;
        <strong>atención digna y trato equitativo</strong>&nbsp;para todos los consumidores, sean argentinos o extranjeros.</p>
      <p>► Aceptación de mi&nbsp;
        <strong>reclamo por incumplimiento</strong>.</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>