<ion-view title="Reciclado" id="page128" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/xo66TZUUQHqXJCAQfHLB_Reciclado1.png" style="display: block; width: 72%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <ion-list id="reciclado-list119">
      <ion-item class="item-avatar dark" id="reciclado-list-item442">
        <img src="img/DbVOZWBqRoCtSAIEoiWu_R01.jpg">
        <h2dark>GIRSU</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="reciclado-list-item443">
        <img src="img/IRKFb3KRQlq4SzviLgcu_R10.jpg">
        <h2dark>Clasificando los residuos</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="reciclado-list-item454">
        <img src="img/77erY1mQv2gHb68b6dKg_R03.jpg">
        <h2dark>Separar y reciclar</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="reciclado-list-item453">
        <img src="img/82ZdSxBSezWyFckOYVQB_R04.jpg">
        <h2dark>EcoPuntos</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="reciclado-list-item444">
        <img src="img/wGLTvhFQFGK87s9eEQrU_R05.jpg">
        <h2dark>Compostaje</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>