<ion-view title="Reclamos y Sugerencias" id="page154">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #003366;">¿Tenes un reclamo o queres hacer una sugerencia?</span>
      </h4>
      <p>Envíanos un mensaje con el detalle del reclamo o sugerencia, podes adjuntar una imagen, un video o la ubicación y no olvides dejarnos tus datos, así en breve estaremos respondiendo a tu inquietud.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665" id="reclamosYSugerencias-button605" class="button button-calm button-block icon-left ion-social-whatsapp-outline"> Linea 1</a>
    <a href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665" id="reclamosYSugerencias-button606" class="button button-calm button-block icon-left ion-social-whatsapp-outline"> Linea 2</a>
    <a href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665" id="reclamosYSugerencias-button607" class="button button-calm button-block icon-left ion-social-whatsapp-outline"> Linea 3</a>
    <a href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665" id="reclamosYSugerencias-button608" class="button button-calm button-block icon-left ion-social-whatsapp-outline"> Linea 4</a>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>