<ion-view title="Recolección de residuos" id="page150">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Te informamos de días y horarios por zona</span>
      </h4>
      <p>
        <span style="color: #000000;">Si entre todos colaboramos, vamos a tener una ciudad más limpia.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #003366;">Zona Norte</span>
      </h4>
      <p style="text-align: center;">Martes,&nbsp;Jueves&nbsp;y&nbsp;Sábados</p>
      <p style="text-align: center;">por la&nbsp;mañana&nbsp;</p>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #003366;">Zona Sur</span>
      </h4>
      <p style="text-align: center;">Martes, Jueves y Sábados&nbsp;</p>
      <p style="text-align: center;">por la tarde&nbsp;</p>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #003366;">Zona Este</span>
      </h4>
      <p style="text-align: center;">Lunes, Miércoles y Viernes</p>
      <p style="text-align: center;">por la mañana&nbsp;</p>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #003366;">Zona Oeste</span>
      </h4>
      <p style="text-align: center;">Lunes, Miércoles&nbsp;y Viernes</p>
      <p style="text-align: center;">por la tarde&nbsp;</p>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #003366;">Zona Centro</span>
      </h4>
      <p style="text-align: center;">Todos los días</p>
      <p style="text-align: center;">mañana&nbsp;y tarde&nbsp;</p>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #003366;">Predio de disposicion final para particulares</span>
      </h4>
      <p style="text-align: center;">Horario de Recepción</p>
      <p style="text-align: center;">7 a 19 hs.</p>
      <p style="text-align: center;">Acceso Norte de la Ciudad - Ruta 38 - km 445</p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>