<ion-view title="Reproducción Asistida" id="page37">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #000000;">Si querés ser madre o padre y por diversos motivos no podés concretar ese deseo por medios naturales, la reproducción asistida abre nuevas esperanzas.</span>
      </p>
      <p>
        <span style="color: #003366;">&nbsp;</span>
      </p>
      <h4>
        <span style="color: #003366;">Lo que tenés que saber</span>
      </h4>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">
          <strong>¿Qué dice la ley?</strong>
        </span>
      </h4>
      <p>
        <span style="color: #000000;">La Ley 26.862 establece que toda persona mayor de edad, cualquiera sea su orientación sexual o estado civil, tenga obra social, prepaga o se atienda en el sistema público de salud, puede acceder de&nbsp;
          <strong>forma gratuita</strong>&nbsp;a las técnicas y procedimientos realizados con asistencia médica para lograr el embarazo.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/normativa/nacional/ley-26862-216700/texto" id="reproducciNAsistida-button197" class="button button-calm button-small icon ion-android-open"> Consultá el texto completo de la Ley</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Cuántos tratamientos me permiten realizar?</span>
      </h4>
      <p>
        <span style="color: #000000;">Podés acceder a un máximo de&nbsp;
          <strong>4</strong>&nbsp;tratamientos de baja complejidad por año y hasta&nbsp;
          <strong>3</strong>&nbsp;tratamientos de alta complejidad, con intervalos mínimos de 3 meses entre cada uno de ellos.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/reproduccionasistida" id="reproducciNAsistida-button262" class="button button-calm button-small icon ion-android-open"> Consultá más información</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Lo que podés hacer</span>
      </h4>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Ya tomé la decisión de encarar el tratamiento, ¿qué tengo que hacer ahora?</span>
      </h4>
      <p>
        <span style="color: #000000;">Acercate a cualquiera de los establecimientos de salud registrados y habilitados para realizar prácticas de fertilización asistida que existen en el país.</span>
      </p>
    </div>
    <a href-inappbrowser="http://www.msal.gob.ar/images/stories/pdf/listado_sisa_16-08-2013.pdf" id="reproducciNAsistida-button263" class="button button-calm button-small icon ion-android-open"> Establecimientos autorizados</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué pasa si mi obra social o prepaga se niegan a reconocerme el tratamiento?</span>
      </h4>
      <p>
        <span style="color: #000000;">Tenés que presentar un reclamo en la misma Obra Social o bien ante la Superintendencia de Seguros de Salud. El trámite es gratuito y te explicamos cómo hacerlo.</span>
      </p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/reclamar-por-incumplimiento-de-obras-sociales-y-prepagas-0" id="reproducciNAsistida-button264" class="button button-calm button-small icon ion-android-open"> Reclamá por incumplimiento</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>