<ion-view title="Sacar el DNI" id="page56">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>El DNI se saca por primera vez con el nacimiento de un bebé y lo tramitan los padres o tutores. Este documento tendrá a futuro dos actualizaciones:</p>
      <p>► Entre los&nbsp;
        <strong>5</strong>&nbsp;y los&nbsp;
        <strong>8 años</strong>&nbsp;de edad.</p>
      <p>► Cuando cumpla los&nbsp;
        <strong>14 años</strong>.</p>
      <p>A lo largo de la vida, podemos renovarlo por diversos motivos: cambio de domicilio, deterioro, robo, pérdida, etc.</p>
      <p>Si se produce una modificación en nuestra identidad (cambio de género, de apellido, etc.) también necesitamos sacar un nuevo DNI.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Tramitar el DNI</span>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/sacar-el-dni-para-el-recien-nacido" id="sacarElDNI-button382" class="button button-calm button-small icon ion-android-open"> Sacar el DNI para el recién nacido</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-mi-dni-de-acuerdo-con-mi-identidad-de-genero" id="sacarElDNI-button391" class="button button-calm button-small icon ion-android-open"> Solicitar DNI por cambio de genero</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/sacar-nuevo-dni-para-argentinos-por-cambio-de-datos-personales" id="sacarElDNI-button392" class="button button-calm button-small icon ion-android-open"> Sacar DNI por cambio de datos personales</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/sacar-un-nuevo-dni-en-caso-de-adopcion" id="sacarElDNI-button393" class="button button-calm button-small icon ion-android-open"> Sacar un nuevo DNI en caso de adopción</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Actualizar el DNI</span>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/actualizar-el-dni-de-5-8-anos-para-argentinos" id="sacarElDNI-button395" class="button button-calm button-small icon ion-android-open"> Actualizar el DNI de 5 a 8 años</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/actualizar-el-dni-los-14-anos-para-argentinos" id="sacarElDNI-button394" class="button button-calm button-small icon ion-android-open"> Actualizar el DNI a los 14 años</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Renovar el DNI</span>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/renovar-el-dni" id="sacarElDNI-button396" class="button button-calm button-small icon ion-android-open"> Por cambio de domicilio, robo, perdida</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://www.argentina.gob.ar/reponer-el-dni-por-errores-de-confeccion" id="sacarElDNI-button397" class="button button-calm button-small icon ion-android-open"> Por errores de confección</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>