<ion-view title="Sacar una pensión" id="page44">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión derivada por fallecimiento de un jubilado</span>
      </h4>
      <p>Si fallece un jubilado, los familiares pueden solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-la-pension-por-fallecimiento-de-un-jubilado" id="sacarUnaPensiN-button314" class="button button-calm button-small icon ion-android-open"> Tramitar la pensión</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pensión por fallecimiento de un trabajador en actividad</span>
      </h4>
      <p>Si el trabajador fallecido cumplía con la condición de aportante regular o irregular con derecho, los familiares pueden tramitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-la-pension-por-fallecimiento-de-un-trabajador" id="sacarUnaPensiN-button315" class="button button-calm button-small icon ion-android-open"> Tramitar la pensión</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>