<ion-view title="Servicios útiles para el consumidor" id="page69">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Consejos de la Dirección Nacional de Defensa del Consumidor</span>
      </h4>
      <p>Consultá esta breve guía que te orienta sobre algunos aspectos del consumo, como las ofertas, la garantía para tus compras o el uso de tarjetas de crédito en cuotas.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/produccion/consumidor/consejos" id="serviciosTilesParaElConsumidor-button427" class="button button-calm button-small icon ion-android-open"> Consejos útiles</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Voy de compras</span>
      </h4>
      <p>Si comprás cualquier producto en un negocio, en el shopping o por internet, conocé tus derechos como consumidor.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/comprar" id="serviciosTilesParaElConsumidor-button428" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Tengo tarjeta de crédito</span>
      </h4>
      <p>Sabé qué tenés que hacer si en tu resumen de cuenta hay gastos que no hiciste, cómo darla de baja si no querés usarla más o qué hacer en caso de robo o pérdida.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/tarjeta-de-credito" id="serviciosTilesParaElConsumidor-button431" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Voy al restaurante</span>
      </h4>
      <p>Si vas a un restaurante enterate qué incluye el servicio de mesa, sabé si vas a encontrar alimentos sin gluten o si podés ir a comer con tu mascota.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/restaurante" id="serviciosTilesParaElConsumidor-button432" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">En el supermercado</span>
      </h4>
      <p>Cuando vayas al supermercado, exigí que los precios estén a la vista y que tengan stock de los productos promocionados.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/supermercado" id="serviciosTilesParaElConsumidor-button434" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Tengo obra social o prepaga</span>
      </h4>
      <p>Si tenés obra social o prepaga, o vas a adherir o contratar alguna, enterate qué cobertura obligatoria te tienen que garantizar, qué hacer si no cumplen con las prestaciones, y cómo podés hacer cambios y en qué momento.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/obrasocial" id="serviciosTilesParaElConsumidor-button433" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Tengo celular</span>
      </h4>
      <p>Si vas a comprar un celular o ya tenés uno, conocé cuáles son tus derechos como usuario y cuáles las obligaciones de la empresa telefónica.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/tengocelular" id="serviciosTilesParaElConsumidor-button435" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Quiero cambiar de compañía de celular</span>
      </h4>
      <p>Si tenés un celular y querés cambiar de compañía sin perder tu número de teléfono, sabé cómo hacerlo y cuáles son tus derechos como usuario.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/cambiarciacelular" id="serviciosTilesParaElConsumidor-button437" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Quiero alquilar</span>
      </h4>
      <p>Si vas a alquilar un departamento o una casa informate antes sobre el contrato, los gastos, la comisión de la inmobiliaria, la garantía y las expensas.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/alquilar" id="serviciosTilesParaElConsumidor-button436" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Vamos de viaje de egresados</span>
      </h4>
      <p>Si están organizando el viaje de egresados sepan cómo elegir la agencia de turismo, cómo debe ser el contrato, qué es la cuota cero y cuántos coordinadores tienen que acompañarlos.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/viaje-egresados" id="serviciosTilesParaElConsumidor-button439" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué derechos y obligaciones tengo al usar el transporte público?</span>
      </h4>
      <p>Si sos usuario del transporte público, conocé en el sitio de la Comisión Nacional de Regulación del Transporte (CNRT) cuáles son los derechos y deberes que tenés como pasajero y cuáles son las obligaciones de las empresas prestadoras del servicio.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/transporte/cnrt/derechos-de-los-usuarios" id="serviciosTilesParaElConsumidor-button438" class="button button-calm button-small icon ion-android-open"> Derechos de los usuarios</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>