<ion-view title="Servicios de salud" id="page54">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Primeros Auxilios</span>
      </h4>
      <p>Actuar a tiempo salva vidas. En algún momento, en cualquier lugar alguien puede necesitar tu ayuda. Sabé qué tenés que hacer ante una emergencia.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/sites/default/files/manual_1ros_auxilios_web.pdf" id="serviciosDeSalud-button355" class="button button-calm button-small icon ion-android-open"> Manual de Primeros Auxilios</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Voy al Hospital</span>
      </h4>
      <p>Si vas a un hospital público, recordá que tienen la obligación de atenderte, no te pueden cobrar y tienen que darte la historia clínica.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/justiciacerca/hospital" id="serviciosDeSalud-button356" class="button button-calm button-small icon ion-android-open"> Lo que tenes que saber</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Vacunas</span>
      </h4>
      <p>A partir de determinada edad se necesita protección adicional para prevenir enfermedades respiratorias, ya que presentan un riesgo mayor de complicaciones de salud.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/salud/vacunas/vacunacion-adultosmayores" id="serviciosDeSalud-button357" class="button button-calm button-small icon ion-android-open"> Vacunas para adultos mayores</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Mi PAMI</span>
      </h4>
      <p>Aquí podés consultar por Internet tu cartilla médica, imprimir tu credencial provisoria y enterarte de toda la información de salud sin tener que concurrir a tu agencia de PAMI.</p>
    </div>
    <a href-inappbrowser="https://www.pami.org.ar/mi-pami" id="serviciosDeSalud-button379" class="button button-calm button-small icon ion-android-open"> Portal de autogestión online</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>