<ion-view title="Situaciones de violencia de género" id="page95">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Psicológica</span>
      </h4>
      <p>► Te cela</p>
      <p>► Te controla</p>
      <p>► Te revisa el celular</p>
      <p>► Te insulta o te humilla</p>
      <p>► Te descalifica</p>
      <p>► Te aísla</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Sexual</span>
      </h4>
      <p>► Se niega a usar preservativo</p>
      <p>► Te obliga a tener sexo</p>
      <p>► Te exige hacer cosas que no querés</p>
      <p>► Te viola</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Física</span>
      </h4>
      <p>► Te empuja</p>
      <p>► Te patea</p>
      <p>► Te pega</p>
      <p>► Te arroja objetos</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Económica</span>
      </h4>
      <p>► Te priva de dinero a vos o a tus hijos</p>
      <p>► Se queda con tus ingresos</p>
      <p>► Te impide ganar tu dinero</p>
      <p>► Te oculta la existencia de bienes</p>
      <p>&nbsp;</p>
      <h4 class="m-y-3">
        <span style="color: #003366;">Primeros signos de maltrato en la pareja</span>
      </h4>
      <div class="media">
        <div class="media-left">
          <strong>· Te ridiculiza</strong>, te hace sentir inferior, torpe o inútil.</div>
      </div>
      <div class="media">
        <div class="media-left">&nbsp;</div>
        <div class="media-left">
          <strong>· Te aísla</strong>, te impide relacionarte con familiares o amistades, se pone celoso o provoca una pelea.</div>
      </div>
      <div class="media">
        <div class="media-left">&nbsp;</div>
        <div class="media-left">
          <strong>· Te amenaza</strong>, humilla, grita o insulta. Te hace sentir culpable.</div>
      </div>
      <div class="media">
        <div class="media-left">&nbsp;</div>
        <div class="media-left">
          <strong>· Amenaza con hacerte daño</strong>&nbsp;a vos o a tu familia.</div>
      </div>
      <div class="media">
        <div class="media-left">&nbsp;</div>
        <div class="media-left">
          <strong>· Te dan miedo</strong>&nbsp;su mirada o sus gestos.</div>
      </div>
      <div class="media">
        <div class="media-left">&nbsp;</div>
        <div class="media-left">
          <strong>· Te controla</strong>&nbsp;el dinero, tu forma de vestir, revisa tu celular y tus redes sociales.</div>
        <div class="media-left">&nbsp;</div>
        <div class="media-left">
          <h4 class="text-center m-b-2" style="text-align: left;">
            <span style="color: #003366;">Tené en cuenta que la violencia se presenta como un círculo que no termina</span>
          </h4>
        </div>
      </div>
    </div>
    <div>
      <img src="img/VZ8nPFBBQayRFUaLck8P_circulo_de_la_violencia-01_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>A los momentos en que es más sutil, le siguen otros en que es más visible, como gritos o golpes. Después,&nbsp;
        <strong>casi siempre después te piden perdón</strong>&nbsp;y te prometen que van a cambiar.</p>
      <p class="margin-0">
        <strong>Pero esto va a seguir pasando,</strong>&nbsp;la violencia se va agravando y puede llegar a situaciones que&nbsp;
        <strong>ponen en riesgo tu vida.</strong>
      </p>
    </div>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>