<ion-view title="Teléfonos Útiles" id="page11">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/WFtx8lHSB6ZfYeiTMYcc_Telefonosutiles1.png" style="display: block; width: 68%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="telFonosTiles-list157">
      <center>
        <ion-item class="item-divider"> Números de Emergencias</ion-item>
      </center>
    </ion-list>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="telFonosTiles-list156">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:107">
        <i class="icon ion-iphone"></i>Emergencias médicas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="telFonosTiles-list161">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:100">
        <i class="icon ion-iphone"></i>Bomberos</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="telFonosTiles-list160">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:101">
        <i class="icon ion-iphone"></i>Policia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="telFonosTiles-list159">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:103">
        <i class="icon ion-iphone"></i>Defensa civil</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="telFonosTiles-list158">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:105">
        <i class="icon ion-iphone"></i>Emergencia Ambiental</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="telFonosTiles-list147">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:142">
        <i class="icon ion-iphone"></i>Chicos y chicas extraviados</ion-item>
    </ion-list>
    <div class="spacer" style="height: 5px;"></div>
    <ion-list id="telFonosTiles-list125">
      <ion-item class="item-icon-left positive" href-inappbrowser="tel:144">
        <i class="icon ion-iphone"></i>Violencia de género</ion-item>
    </ion-list>
    <div class="spacer" style="height: 30px;"></div>
  </ion-content>
</ion-view>