<ion-view title="Tratamientos médicos" id="page65">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Acceder a intervenciones quirúrgicas (totales o parciales) y/o tratamientos integrales hormonales como parte del Programa Médico Obligatorio.</span>
      </h4>
      <p>Si sos mayor de edad tu decisión no requiere autorización judicial.</p>
      <p>Si sos menor de 18 años, podés hacerlo a través de tus representantes legales y con la asistencia de un abogada/o.</p>
    </div>
    <a href-inappbrowser="http://servicios.infoleg.gob.ar/infolegInternet/anexos/245000-249999/247367/norma.htm" id="tratamientosMDicos-button402" class="button button-calm button-small icon ion-android-open"> Normativa</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">
          <a style="color: #003366;" href="https://www.argentina.gob.ar/reclamar-por-incumplimiento-de-la-obra-social-o-la-prepaga">Reclamar por incumplimiento de la Obra Social o la prepaga</a>
        </span>
      </h4>
      <p>Si tu Obra Social o entidad de medicina prepaga se niegan a afiliarte a vos o a un familiar, a darte cobertura o lo hacen de modo irregular, te asistimos para que puedas reclamar correctamente.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/reclamar-por-incumplimiento-de-obras-sociales-y-prepagas" id="tratamientosMDicos-button417" class="button button-calm button-small icon ion-android-open"> Reclamar por incumplimiento</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>