<ion-view title="Trámites relacionados" id="page52">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Volver a la actividad laboral</span>
      </h4>
      <p>Si reingresás al mercado laboral, podés percibir tus haberes sin límite realizando los aportes y contribuciones previsionales del sueldo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/volver-la-actividad-laboral-siendo-jubilado" id="trMitesRelacionados-button349" class="button button-calm button-small icon ion-android-open"> Volver a la actividad laboral</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Ausencia del país y reingreso de jubilados y pensionados</span>
      </h4>
      <p>Si te ausentás del país por un período mayor a 3 meses o residís en forma definitiva en un país sin convenio con el nuestro, tenés que comunicarlo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/informar-ausencia-y-reingreso-del-pais-de-jubilado-o-pensionado" id="trMitesRelacionados-button350" class="button button-calm button-small icon ion-android-open"> Informar ausencia y reingreso del país</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Consultar tu historia laboral</span>
      </h4>
      <p>Consultá los datos referidos a tu historia laboral registrada.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-tu-historia-laboral" id="trMitesRelacionados-button351" class="button button-calm button-small icon ion-android-open"> Consultar tu historia laboral</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Incluir a un nuevo integrante en una pensión ya concedida</span>
      </h4>
      <p>Para acceder a la pensión que ya se está cobrando tenés que acreditar el vínculo con la persona fallecida, para poder compartir el cobro.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/incluir-un-nuevo-integrante-en-una-pension-ya-concedida" id="trMitesRelacionados-button376" class="button button-calm button-small icon ion-android-open"> Incluir a un nuevo integrante</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Consultar las sentencias judiciales de ANSES</span>
      </h4>
      <p>Si iniciaste juicio por reajuste de haberes y tenés en trámite una nueva liquidación, podés consultar el listado de sentencias judiciales.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-las-sentencias-judiciales-de-anses" id="trMitesRelacionados-button377" class="button button-calm button-small icon ion-android-open"> Consultar las sentencias judiciales</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>