<ion-view title="Trámites" id="page55">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Afiliarme al PAMI como jubilado o pensionado titular</span>
      </h4>
      <p>Te explicamos cómo hacer para adquirir la condición de afiliado al PAMI, donde recibirás los servicios médicos, asistenciales y sociales que brinda la institución.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/afiliarme-al-pami-como-jubilado-o-pensionado-titular" id="trMites-button358" class="button button-calm button-small icon ion-android-open"> Afiliarme al PAMI</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Obtener la constancia de afiliación al PAMI</span>
      </h4>
      <p>Te orientamos para que puedas obtener la constancia de afiliación al PAMI, la que tendrás que presentar cada vez que necesites acceder a sus servicios médicos y asistenciales.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-la-constancia-de-afiliacion-al-pami" id="trMites-button359" class="button button-calm button-small icon ion-android-open"> Obtener la constancia</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Inscribirme en cursos y talleres del PAMI</span>
      </h4>
      <p>Si sos afiliado al PAMI, el Instituto te ofrece la posibilidad de que realices cursos y talleres gratuitos. Compartir estas actividades con otras personas te ayudará a sentirte bien y activo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/inscribirme-en-cursos-y-talleres-del-pami" id="trMites-button360" class="button button-calm button-small icon ion-android-open"> Inscribirme en cursos y talleres</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Elegir mi médico de cabecera en el PAMI</span>
      </h4>
      <p>Te guiamos para que puedas acceder a la atención gratuita de un médico de cabecera del PAMI. Se trata de un mecanismo es de libre elección entre los profesionales inscriptos y disponibles en el Instituto Nacional de Servicios Sociales para Jubilados
        y Pensionados (INSSJP).</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/elegir-mi-medico-de-cabecera-en-el-pami" id="trMites-button380" class="button button-calm button-small icon ion-android-open"> Elegir mi médico de cabecera</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Obtener 100% cobertura de PAMI en medicamentos</span>
      </h4>
      <p>Si sos afiliado al PAMI, te explicamos cómo obtener un 100% de cobertura en la medicación que precisás, por razones sociales. Dicha cobertura comprende los medicamentos publicados en el Manual Farmacéutico del INSSJP.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-100-cobertura-de-pami-en-medicamentos" id="trMites-button381" class="button button-calm button-small icon ion-android-open"> Obtener 100% cobertura</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>