<ion-view title="Trámites y servicios" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/ufI7p0AUQ0q6cVjf8oja_Tramitesyservicios1.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="trMitesYServicios-list28">
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item177" ui-sref="guALaRioja.parejaYFamilia()">
        <img src="img/WUQWGppdQmSL1KyAvbaD_Servicios01b.jpg">
        <h2dark>Pareja y familia</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item204" ui-sref="guALaRioja.adultosMayores()">
        <img src="img/jJFZq3KQKOryfpM1eMIv_Servicios02b.jpg">
        <h2dark>Adultos mayores</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item236" ui-sref="guALaRioja.documentaciNCiudadana()">
        <img src="img/pEyALtLQBG2XAeqyfY1U_Servicios03c.jpg">
        <h2dark>Documentación ciudadana</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item237" ui-sref="guALaRioja.consumidores()">
        <img src="img/QWuVrXupRsKLkyQa2LkU_Servicios04b.jpg">
        <h2dark>Consumidores</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item238" ui-sref="guALaRioja.personasConDiscapacidad()">
        <img src="img/Vi0jjyFYRkaAQnNPbrpJ_Servicios05b.jpg">
        <h2dark>Personas con Discapacidad</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item239" ui-sref="guALaRioja.violenciaYAbuso()">
        <img src="img/vVYxMTCRSnKsFzdiqwAA_Servicios06c.jpg">
        <h2dark>Violencia y abuso</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item240" ui-sref="guALaRioja.trNsitoYAutomotor()">
        <img src="img/bw3wl4AfT1eiwUckvA6p_Servicios07b.jpg">
        <h2dark>Tránsito y automotor</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="trMitesYServicios-list-item112" ui-sref="guALaRioja.cuidarLaSalud()">
        <img src="img/0BQISwYcTVCXjlMPXan3_Salud.jpg">
        <h2dark>Cuidar la salud</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>