<ion-view title="Trámites frecuentes" id="page50">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Tramitar turnos para ANSES</span>
      </h4>
      <p>Si tenés que sacar, consultar o cancelar un turno para los servicios de la ANSES.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-o-consultar-turnos-en-anses" id="trMitesFrecuentes-button343" class="button button-calm button-small icon ion-android-open"> Solicitar o consultar turnos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Obtener tu constancia de CUIL</span>
      </h4>
      <p>Si tenés que cobrar prestaciones, vas a pedir un crédito o vas a hacer trámites bancarios, pedí tu constancia.</p>
    </div>
    <a href-inappbrowser="https://www.anses.gob.ar/consulta/constancia-de-cuil" id="trMitesFrecuentes-button344" class="button button-calm button-small icon ion-android-open"> Constancia de CUIL</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Pedir la certificación negativa de ANSES</span>
      </h4>
      <p>Si te pidieron un comprobante de que no estás recibiendo ningún aporte o beneficio, pedila en línea.</p>
    </div>
    <a href-inappbrowser="http://servicioswww.anses.gob.ar/censite/" id="trMitesFrecuentes-button345" class="button button-calm button-small icon ion-android-open"> Certificación Negativa</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Acreditar datos personales y vínculos familiares</span>
      </h4>
      <p>Si sos titular, registrá y actualizá los datos personales y los de tu grupo familiar.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/acreditar-datos-personales-y-vinculos-familiares" id="trMitesFrecuentes-button371" class="button button-calm button-small icon ion-android-open"> Acreditar datos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar el cambio de banco para jubilados y pensionados</span>
      </h4>
      <p>Pedí el cambio de banco, pero luego de haber cobrado por primera vez.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/cambiar-de-banco-para-jubilado-o-pensionado" id="trMitesFrecuentes-button372" class="button button-calm button-small icon ion-android-open"> Cambiar de banco</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar el cambio de obra social para jubilados y pensionados</span>
      </h4>
      <p>Si tenés asignada la obra social del PAMI, podés cambiar por otra Obra Social distinta que figure en el listado.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-el-cambio-de-obra-social-de-jubilado-o-pensionado" id="trMitesFrecuentes-button373" class="button button-calm button-small icon ion-android-open"> Solicitar el cambio de Obra Social</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Designar un apoderado</span>
      </h4>
      <p>Si estás con dificultades para deambular o vivís en el exterior, podés tener un apoderado para tramitar y percibir las prestaciones.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/designar-un-apoderado-para-jubilados-y-pensionados" id="trMitesFrecuentes-button374" class="button button-calm button-small icon ion-android-open"> Designar un apoderado</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Dar fe de vida (supervivencia)</span>
      </h4>
      <p>Para cobrar tus haberes, tenés que dar fe de vida ante la entidad bancaria o centro de pago.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/dar-fe-de-vida-supervivencia-de-jubilados-y-pensionados-en-el-pais" id="trMitesFrecuentes-button375" class="button button-calm button-small icon ion-android-open"> Dar fe de vida (supervivencia)</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>