<ion-view title="Tránsito y automotor" id="page35">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/OiNlrjxCSKGEfMcfgTsG_Transito1.png" style="display: block; width: 72%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="trNsitoYAutomotor-list149">
      <ion-item class="item-avatar dark" id="trNsitoYAutomotor-list-item360">
        <img src="img/To9ZH43dTSWm76F8OSly_Automotor01a.jpg">
        <h2dark>Conductores
          <p style="white-space:normal;">Trámites más frecuentes.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item361" ui-sref="guALaRioja.sacarLaLicenciaDeConducir()">
        <i class="icon ion-arrow-right-b"></i>Sacar la Licencia de Conducir</ion-item>
    </ion-list>
    <ion-list id="trNsitoYAutomotor-list150">
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item362" ui-sref="guALaRioja.renovarLaLicenciaDeConducir()">
        <i class="icon ion-arrow-right-b"></i>Renovar la Licencia de Conducir</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item288" ui-sref="guALaRioja.conducirEnElExterior()">
        <i class="icon ion-arrow-right-b"></i>Conducir en el exterior</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item289" ui-sref="guALaRioja.cursoDeEducaciNVialPorInternet()">
        <i class="icon ion-arrow-right-b"></i>Curso de Educación Vial por Internet</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="trNsitoYAutomotor-list151">
      <ion-item class="item-avatar dark" id="trNsitoYAutomotor-list-item363">
        <img src="img/mc3ciaXxQq6s6LkfIoSx_Automotor02a.jpg">
        <h2dark>Vehículos
          <p style="white-space:normal;">Trámites más frecuentes vinculados con la propiedad de tu vehículo.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="trNsitoYAutomotor-list152">
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item364" ui-sref="guALaRioja.cDulas()">
        <i class="icon ion-arrow-right-b"></i>Cédulas</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item365" ui-sref="guALaRioja.titularidadYDominio()">
        <i class="icon ion-arrow-right-b"></i>Titularidad y dominio</ion-item>
    </ion-list>
    <ion-list id="trNsitoYAutomotor-list153">
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item366" ui-sref="guALaRioja.compraVenta()">
        <i class="icon ion-arrow-right-b"></i>Compra-venta</ion-item>
    </ion-list>
    <ion-list id="trNsitoYAutomotor-list154">
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item367" ui-sref="guALaRioja.discapacidad()">
        <i class="icon ion-arrow-right-b"></i>Discapacidad</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item290" ui-sref="guALaRioja.cambiosEnElVehCulo()">
        <i class="icon ion-arrow-right-b"></i>Cambios en el vehículo</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item291" ui-sref="guALaRioja.robo()">
        <i class="icon ion-arrow-right-b"></i>Robo</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item292" ui-sref="guALaRioja.seguros()">
        <i class="icon ion-arrow-right-b"></i>Seguros</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item293" ui-sref="guALaRioja.consultas()">
        <i class="icon ion-arrow-right-b"></i>Consultas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="trNsitoYAutomotor-list155">
      <ion-item class="item-avatar dark" id="trNsitoYAutomotor-list-item368">
        <img src="img/57RX0kGdQi7KuTfErgUQ_Automotor03a.jpg">
        <h2dark>Tránsito
          <p style="white-space:normal;">Consejos prácticos sobre circulación en la vía pública.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item369" ui-sref="guALaRioja.consejosParaCircular()">
        <i class="icon ion-arrow-right-b"></i>Consejos para circular</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item370" ui-sref="guALaRioja.pasosFronterizos()">
        <i class="icon ion-arrow-right-b"></i>Pasos fronterizos</ion-item>
      <ion-item class="item-icon-left dark" id="trNsitoYAutomotor-list-item371" ui-sref="guALaRioja.antesDeViajar()">
        <i class="icon ion-arrow-right-b"></i>Antes de viajar</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>