<ion-view title="Tus beneficios" id="page49">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Consultá las asignaciones familiares, subsidios y programas.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Asignación familiar por cónyuge</span>
      </h4>
      <p>Si sos jubilado y pensionado del Sistema Integrado Previsional Argentino (SIPA) o titular de la Pensión Honorífica de Veteranos.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-asignacion-familiar-por-conyuge-o-conviviente" id="tusBeneficios-button340" class="button button-calm button-small icon ion-android-open"> Solicitar asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación familiar por hijo / hijo con discapacidad</span>
      </h4>
      <p>Si sos trabajador registrado, monotributista o titular de las prestaciones de Desempleo, ART, SIPA, Pensión Honorífica de Veteranos, podés solicitarla.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-asignacion-familiar-por-hijo-o-hijo-con-discapacidad" id="tusBeneficios-button341" class="button button-calm button-small icon ion-android-open">Tramitar asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Asignación familiar por ayuda escolar anual</span>
      </h4>
      <p>Si sos trabajador registrado o titular de otras prestaciones, o monotributista, podés acceder al pago anual por escolaridad o rehabilitación, de tu hijo o hijo con discapacidad.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-la-asignacion-familiar-por-ayuda-escolar-anual" id="tusBeneficios-button342" class="button button-calm button-small icon ion-android-open"> Solicitar la asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar un crédito en ANSES</span>
      </h4>
      <p>Si sos jubilado o pensionado, podés obtener el crédito que te otorga ANSES, para devolver en hasta 60 cuotas.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-un-credito-anses-para-jubilados-y-pensionados" id="tusBeneficios-button367" class="button button-calm button-small icon ion-android-open"> Solicitar un crédito ANSES</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Solicitar préstamos en mutuales con convenio con ANSES</span>
      </h4>
      <p>Si sos jubilado o pensionado, podés pedir préstamos o adquirir bienes a través de mutuales o terceras entidades y que la cuota se descuente de tus haberes mensuales.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/solicitar-prestamos-en-mutuales-con-convenio-con-anses" id="tusBeneficios-button368" class="button button-calm button-small icon ion-android-open"> Solicitar préstamos en mutuales</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Programa Hogar</span>
      </h4>
      <p>Si sos usuario de Gas Licuado de Petróleo (GLP) envasado en garrafas de 10, 12 y 15 kilogramos de capacidad, de bajos recursos, te corresponde el subsidio.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/obtener-el-subsidio-del-programa-hogar" id="tusBeneficios-button369" class="button button-calm button-small icon ion-android-open"> Obtener el subsidio</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Percibir asignaciones familiares para titulares de la pensión honorífica de guerra del Atlántico Sur</span>
      </h4>
      <p>Si sos titular de una pensión honorífica de Guerra del Atlántico Sur, podés solicitar asignaciones familiares.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/tramitar-asignacion-familiar-para-la-pension-honorifica-de-veteranos-de-guerra" id="tusBeneficios-button370" class="button button-calm button-small icon ion-android-open"> Tramitar asignación</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>