<ion-view title="Tus cobros" id="page48">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Consultá dónde y cuándo cobrás, y qué te corresponde cobrar.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Reparación histórica</span>
      </h4>
      <p>Si sos jubilado o pensionado, podés consultar si estás incluido en el Programa de Reparación Histórica y así actualizar tus haberes.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-por-la-reparacion-historica" id="tusCobros-button337" class="button button-calm button-small icon ion-android-open"> Consultar por la Reparación Histórica</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">¿Dónde cobro en ANSES?</span>
      </h4>
      <p>Consultá el lugar y período del próximo cobro.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-cuando-y-donde-cobro-en-anses" id="tusCobros-button338" class="button button-calm button-small icon ion-android-open"> Consultar cuándo y dónde cobro</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Consultar el calendario de pagos de la ANSES</span>
      </h4>
      <p>Si sos jubilado o pensionado, beneficiario de una AUH o recibís algún tipo de subsidio o prestación de ANSES, consultá la fecha de cobro.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-el-calendario-de-pagos-de-anses" id="tusCobros-button339" class="button button-calm button-small icon ion-android-open"> Consultar el calendario de pagos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Consultar los códigos de haberes y descuentos</span>
      </h4>
      <p>Consultá los códigos de haberes y descuentos de tu liquidación previsional de reparto, con la Clave de la Seguridad Social.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-los-codigos-de-haberes-y-descuentos-para-jubilados-y-pensionados" id="tusCobros-button361" class="button button-calm button-small icon ion-android-open"> Consultar código de haberes y descuentos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4 style="text-align: left;">
        <span style="color: #003366;">Dar fe de vida (supervivencia)</span>
      </h4>
      <p>Tené en cuenta que para cobrar tus haberes, tenés que dar fe de vida periódicamente ante la entidad bancaria o centro de pago.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/dar-fe-de-vida-supervivencia-de-jubilados-y-pensionados-en-el-pais" id="tusCobros-button362" class="button button-calm button-small icon ion-android-open"> Dar fe de vida (supervivencia)</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Consultar y reclamar sobre los descuentos de mutuales u otras entidades</span>
      </h4>
      <p>Consultá o reclamá sobre los descuentos en tus haberes, debido a un préstamo o cuota social de una mutual, cooperativa, asociación empresarial, sindicato u obra social particular.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/consultar-o-reclamar-sobre-descuentos-de-mutuales-y-otras-entidades" id="tusCobros-button363" class="button button-calm button-small icon ion-android-open"> Consultar o reclamar sobre descuentos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Activar los haberes suspendidos</span>
      </h4>
      <p>Si pasados los 3 meses sin cobrar los haberes, se te suspendió el pago por haber surgido alguna incompatibilidad o inconveniente, sabé cómo hacer para reactivarlo.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/activar-haberes-suspendidos-de-jubilados-y-pensionados" id="tusCobros-button364" class="button button-calm button-small icon ion-android-open"> Activar haberes suspendidos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Reclamar los haberes impagos</span>
      </h4>
      <p>Reclamá los haberes que no pudiste cobrar, dentro de los 2 años posteriores a la fecha.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/reclamar-haberes-impagos-de-jubilados-y-pensionados" id="tusCobros-button365" class="button button-calm button-small icon ion-android-open"> Reclamar haberes impagos</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
    <div>
      <h4>
        <span style="color: #003366;">Reclamar reajustes de haberes en la ANSES</span>
      </h4>
      <p>Si sos jubilado o pensionado, podés solicitar la revisión y reajuste del haber de una prestación ya otorgada y percibida.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/reclamar-reajuste-de-haberes-en-anses" id="tusCobros-button366" class="button button-calm button-small icon ion-android-open"> Reclamar reajuste de haberes</a>
    <div class="spacer" style="height: 20px;">
      <hr>
    </div>
  </ion-content>
</ion-view>