<ion-view title="Unión civil/convivencial" id="page25">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 id="1">
        <span style="color: #003366;">¿Quieren tramitar una unión civil/convivencial?</span>
      </h4>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">► Es la unión afectiva entre dos personas que no se casan pero conviven durante dos años o más y comparten un proyecto de vida en común.</span>
      </p>
      <p>
        <span style="color: #000000;">► Les da derechos sobre la vivienda: ninguno de los dos puede disponer de ella (vender, hipotecar, etc.) sin la firma del otro.</span>
      </p>
      <p>
        <span style="color: #000000;">► No otorga derechos de herencia salvo por testamento y siempre que no afecte derechos de los herederos forzosos.</span>
      </p>
      <p>
        <span style="color: #000000;">► Los bienes no son gananciales.</span>
      </p>
      <p>
        <span style="color: #000000;">► Es necesario (no obligatorio) que ambos firmen un&nbsp;pacto de convivenciadonde establezcan la relación patrimonial durante la vida en común y en caso de ruptura. Si este acuerdo no se realiza, cada uno ejerce libremente la administración y
          disposición de sus bienes.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4>
        <span style="color: #003366;">Qué tienen que hacer</span>
      </h4>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">1.
          <strong> Soliciten el turno</strong>&nbsp;con antelación a la fecha en que desean realizar la unión en el Registro que les corresponde por domicilio.</span>
      </p>
      <p>
        <span style="color: #000000;">2. Tienen que tener los&nbsp;DNI actualizados&nbsp;y presentarlos para acreditar identidad.</span>
      </p>
      <p>
        <span style="color: #000000;">3.
          <strong> Acrediten la convivencia</strong>&nbsp;durante un período no inferior a dos años, mediante DNI, testigos y/o hijos en común.</span>
      </p>
      <p>
        <span style="color: #000000;">4. Si celebraron un&nbsp;
          <strong>pacto de convivencia</strong>&nbsp;tienen que presentar original y copia certificada por escribano.</span>
      </p>
      <p>
        <span style="color: #000000;">5. Si tienen hijos en común&nbsp;
          <strong>partida de nacimiento original y fotocopia legalizada</strong>.</span>
      </p>
      <p>
        <span style="color: #000000;">6. Dos&nbsp;
          <strong>testigos</strong>&nbsp;mayores de 18 años con DNI que acredite identidad.</span>
      </p>
      <p>
        <span style="color: #000000;">7. Si vos o tu pareja ya tuvieron un matrimonio o convivencia previa, deberán&nbsp;
          <strong>justificar el estado civil</strong>&nbsp;con el acta de matrimonio anterior (con la nota marginal de la disolución del vínculo en el caso de los divorciados o el acta de defunción de su cónyuge en el caso de los viudos).</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <h4>
        <span style="color: #003366;">La unión convivencial les da acceso a los siguientes beneficios:</span>
      </h4>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">► Pueden compartir/unificar aportes para la obra social</span>
      </p>
      <p>
        <span style="color: #000000;">Si vos y tu pareja son titulares de dos obras sociales del Sistema pueden unificar aportes, optando por una de ellas o por una tercera, ambos con carácter de titulares.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">► Pueden proteger la vivienda como bien de familia</span>
      </p>
      <p>
        <span style="color: #000000;">Con esta protección patrimonial evitan la ejecución o remate del lugar donde viven.</span>
      </p>
      <p>
        <span style="color: #000000;">&nbsp;</span>
      </p>
      <p>
        <span style="color: #000000;">► En caso de fallecimiento de uno de los dos, el otro puede cobrar la pensión</span>
      </p>
      <p>
        <span style="color: #000000;">Si tu pareja era&nbsp;jubilada/o&nbsp;y fallece, tenés derecho a solicitar una pensión.</span>
      </p>
      <p>
        <span style="color: #000000;">Si tu pareja era un&nbsp;trabajador aportante&nbsp;regular, podés solicitar una pensión.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>