<ion-view title="Violencia y Abuso" id="page34">
  <ion-content padding="false" style="background: url(img/QKmkBX51QEK8XpmjXMR9_fondo.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/Kd9smzyGQVeHb2VCy0kW_Violencia1.png" style="display: block; width: 56%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="violenciaYAbuso-list142">
      <ion-item class="item-avatar dark" id="violenciaYAbuso-list-item347">
        <img src="img/tLPdW7dvSmBQuljca1oA_Violencia01.jpg">
        <h2dark>Abuso sexual infantil
          <p style="white-space:normal;">Hablemos del abuso sexual infantil. Hablar es empezar a prevenir.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left calm" href-inappbrowser="tel:0800-222-1717">
        <i class="icon ion-iphone"></i>Atención a víctimas de abuso sexual</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item384" ui-sref="guALaRioja.QuEsElAbusoSexualInfantil()">
        <i class="icon ion-arrow-right-b"></i>¿Qué es el abuso sexual infantil?</ion-item>
    </ion-list>
    <ion-list id="violenciaYAbuso-list143">
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item349" href-inappbrowser="https://www.unicef.org/argentina/media/1811/file">
        <i class="icon ion-arrow-right-b"></i>Guía para tomar acciones</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item282" href-inappbrowser="https://www.argentina.gob.ar/sites/default/files/rutas_de_accion.pdf">
        <i class="icon ion-arrow-right-b"></i>Rutas de acción</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item283" href-inappbrowser="https://www.argentina.gob.ar/sites/default/files/abuso-infantil-periodismo.pdf">
        <i class="icon ion-arrow-right-b"></i>Como hablar del tema desde el periodismo</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item284" href-inappbrowser="https://www.unicef.org/argentina/media/4096/file">
        <i class="icon ion-arrow-right-b"></i>Análisis de datos sobre violencia</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="violenciaYAbuso-list144">
      <ion-item class="item-avatar dark" id="violenciaYAbuso-list-item350">
        <img src="img/OBY7dCf8TbyLmPXqVQnu_Violencia02.jpg">
        <h2dark>Violencia contra las mujeres
          <p style="white-space:normal;">Atención para mujeres en situación de violencia</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="violenciaYAbuso-list145">
      <ion-item class="item-icon-left calm" href-inappbrowser="tel:144">
        <i class="icon ion-iphone"></i>Linea 144, atiende las 24 horas</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item351" ui-sref="guALaRioja.situacionesDeViolenciaDeGNero()">
        <i class="icon ion-arrow-right-b"></i>Situaciones de violencia de género</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item352" ui-sref="guALaRioja.aplicaciNMVil144()">
        <i class="icon ion-arrow-right-b"></i>Aplicación móvil 144</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item287" href-inappbrowser="https://www.argentina.gob.ar/linea144/mapamujeres">
        <i class="icon ion-arrow-right-b"></i>Mapa de centros de Atención</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="violenciaYAbuso-list148">
      <ion-item class="item-avatar dark" id="violenciaYAbuso-list-item355">
        <img src="img/Q242PysLTgqihZDJjujQ_Violencia03.jpg">
        <h2dark>Trata de Personas
          <p style="white-space:normal;">Si algo te hace dudar, no dudes. #DenunciáLaTrata.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-left calm" href-inappbrowser="tel:145">
        <i class="icon ion-iphone"></i>Línea gratuita, anónima y nacional</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item357" ui-sref="guALaRioja.QuEsLaTrataDePersonas()">
        <i class="icon ion-arrow-right-b"></i>¿Qué es la Trata de Personas?</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item358" ui-sref="guALaRioja.ofertaDeTrabajoEngaOsa()">
        <i class="icon ion-arrow-right-b"></i>Oferta de trabajo engañosa</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item385" ui-sref="guALaRioja.CuNdoHayExplotaciN()">
        <i class="icon ion-arrow-right-b"></i>¿Cuándo hay explotación?</ion-item>
      <ion-item class="item-icon-left dark" id="violenciaYAbuso-list-item359" ui-sref="guALaRioja.anteCasosDePersonasExtraviadas()">
        <i class="icon ion-arrow-right-b"></i>Ante casos de personas extraviadas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>